<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>진척검수일 등록</title>
    <!--Style-->
    <style>
      #content1 {
        height: 250px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">진척검수 관리 /</span> 진척검수 등록</h4>
      <div class="card">
        <div class="card-body">
          <h5>담당자 정보</h5>
          <label class="form-label" style="width: fit-content;">담당자</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="person">
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <h5>공급자 정보</h5>
          <label class="form-label" style="width: fit-content;">협력회사</label>
          <div class="row">
            <div class="col-md-6">
              <input class="form-control" type="number" id="partnerNo" style="display:none;" th:value="${pno}"/>
              <input class="form-control" type="text" id="partnerName" th:value="${name}"/>
            </div>
            <div class="col-md-4">
              <button
                      type="button"
                      class="btn btn-outline-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#modalScrollable"
              >
                공급자 선택
              </button>
            </div>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <div class="mb-4">
            <div class="row">
              <div class="col-md-2">
                <input type="number" style="display:none;" value="0" id="checkAllBtn">
                <button type="button" class="btn btn-outline-primary" onclick="selectAll()">
                  모두선택
                </button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary mb-1" onclick="amountPer(30)">30% 수량</button>
                <button type="button" class="btn btn-primary mb-1" onclick="amountPer(50)">50% 수량</button>
                <button type="button" class="btn btn-primary mb-1" onclick="amountPer(70)">70% 수량</button>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <input id="baseDate" type="date" style="display:none;">&nbsp;
                  <span style="width: fit-content;" class="col-md-1">입고예정일 기준</span>
                  <input id="days-input" type="number" class="form-control col-md-2" style="width: 100px;" value="3">&nbsp;
                  <span style="width: fit-content;" class="col-md-1">일 전</span>
                  <button type="button" class="btn btn-outline-primary col-md-2" style="width: fit-content;" onclick="autoBtn(5)">
                    진척검수일 일괄 등록
                  </button>
                </div>
              </div>
            </div>
          </div>
          <input type="number" id="gumsuNo" style="display:none;">
          <div id="setTable"></div>
        </div>
        <div class="card-header d-flex align-items-center justify-content-between">
          <a th:href="@{/progress/requiring_progress}">
            <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
          </a>
          <button type="button" class="btn btn-primary" onclick="saveGumsu(1)">등록</button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title mb-4">공급자 검색</h5>
            <div class="row mb-10 mb-2">
              <label class="form-label col-md-2" style="width: fit-content;">협력회사</label>
              <div class="col-md-10">
                <div class="row mb-2">
                  <div class="col-md-4">
                    <select class="form-select form-select-sm" id="selectPartL" onchange="updatePartCode('L')"></select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm" id="selectPartM" onchange="updatePartCode('M')"></select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm" id="selectPartS" onchange="updatePartCode('S')"></select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="partnerSearch" style="height: 32px; font-size: 12px;" value="">
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="partnerSearchBtn('gumsu')">검색</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="m-0">
          <div class="modal-body" style="height: 350px;">
            <div id="content1">
              <table class="table table-hover">
                <tbody id="firstTbody"></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->
    <script src="../assets/js/new-contract-order-invoice.js"></script>
    <script src="../assets/js/new-jodalchasu-gumsuchasu.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
            if(finPage==false){
                const scrollTop = content1.scrollTop;
                const scrollHeight = content1.scrollHeight;
                const clientHeight = content1.clientHeight;

                if (scrollTop + clientHeight >= scrollHeight - 10) {
                    loadItems('gumsu');
                }
            }
        });
        loadItems('gumsu');

        const pno=document.getElementById('partnerNo').value;
        if(pno!==0){
          getNonGumsuChasuBalju(pno);
        }
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>