<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>진척검수일 수정</title>
    <!--Style-->
    <style>
      #content1 {
        height: 250px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">진척검수 관리 /</span> 진척검수 일정 수정</h4>
      <div class="card">
        <div class="card-body">
          <h5>담당자 정보</h5>
          <label class="form-label" style="width: fit-content;">담당자</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="person" th:value="${gumsu.who}">
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <h5>공급자 정보</h5>
          <label class="form-label" style="width: fit-content;">협력회사</label>
          <div class="row">
            <div class="col-md-6">
              <input class="form-control" type="number" id="partnerNo" style="display:none;" th:value="${partner.pno}" readonly/>
              <input class="form-control" type="text" id="partnerName" th:value="${partner.name}" readonly/>
            </div>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <div class="mb-4">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary mb-1" onclick="amountPer(30)">30% 수량</button>
                <button type="button" class="btn btn-primary mb-1" onclick="amountPer(50)">50% 수량</button>
                <button type="button" class="btn btn-primary mb-1" onclick="amountPer(70)">70% 수량</button>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <input id="baseDate" type="date" style="display:none;">&nbsp;
                  <span style="width: fit-content;" class="col-md-1">입고예정일 기준</span>
                  <input id="days-input" type="number" class="form-control col-md-2" style="width: 100px;" value="3">&nbsp;
                  <span style="width: fit-content;" class="col-md-1">일 전</span>
                  <button type="button" class="btn btn-outline-primary col-md-2" style="width: fit-content;" onclick="autoBtn(5)">
                    진척검수일 일괄 등록
                  </button>
                </div>
              </div>
            </div>
          </div>
          <input type="number" id="gumsuNo" th:value="${gumsu.gumsuNo}" style="display:none;">
          <input type="number" id="baljuNo" th:value="${baljuNo}" style="display:none;">
          <input type="text" id="tempDate1" th:value="${gumsuList[0].gumsuDate}" style="display:none;">
          <input type="text" id="tempDate2" th:value="${gumsuList[1].gumsuDate}" style="display:none;">
          <input type="text" id="tempDate3" th:value="${gumsuList[2].gumsuDate}" style="display:none;">
          <div id="setTable">
            <table class="table table-bordered mb-4" th:id="'autoTable'+${baljuNo}">
              <tbody>
                <tr>
                  <td style="display:none;"></td>
                  <td>자재</td>
                  <td>발주수량</td>
                  <td>입고예정일</td>
                  <td>진척검수 수량</td>
                  <td>진척검수 날짜</td>
                </tr>
                <tr>
                  <td rowspan="3" th:id="'check'+${baljuNo}" style="width:10px; display:none;" class="text-center">
                    <input type="checkbox" th:id="'btn'+${baljuNo}" class="form-check-input" checked disabled>
                  </td>
                  <td rowspan="3">[[${materialName}]]</td>
                  <td th:id="'baljuNum1'+${baljuNo}">[[${baljuList[0].balNum}]]</td>
                  <td th:id="'baljuDate1'+${baljuNo}">[[${#temporals.format(baljuList[0].balDate, 'yyyy-MM-dd')}]]</td>
                  <td>
                    <input type="number" th:id="'oneNum'+${baljuNo}" th:value="${gumsuList[0].gumsuNum}" style="border: 0;">
                  </td>
                  <td>
                    <input type="date" th:id="'oneDate'+${baljuNo}" style="border: 0;">
                  </td>
                </tr>
                <tr>
                  <td th:id="'baljuNum2'+${baljuNo}">[[${baljuList[1].balNum}]]</td>
                  <td th:id="'baljuDate2'+${baljuNo}">[[${#temporals.format(baljuList[1].balDate, 'yyyy-MM-dd')}]]</td>
                  <td>
                    <input type="number" th:id="'twoNum'+${baljuNo}" th:value="${gumsuList[1].gumsuNum}" style="border: 0;">
                  </td>
                  <td>
                    <input type="date" th:id="'twoDate'+${baljuNo}" style="border: 0;">
                  </td>
                </tr>
                <tr>
                  <td th:id="'baljuNum3'+${baljuNo}">[[${baljuList[2].balNum}]]</td>
                  <td th:id="'baljuDate3'+${baljuNo}">[[${#temporals.format(baljuList[2].balDate, 'yyyy-MM-dd')}]]</td>
                  <td>
                    <input type="number" th:id="'threeNum'+${baljuNo}" th:value="${gumsuList[2].gumsuNum}" style="border: 0;">
                  </td>
                  <td>
                    <input type="date" th:id="'threeDate'+${baljuNo}" style="border: 0;">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-header d-flex align-items-center justify-content-between">
          <a th:href="@{/progress/list_progress}">
            <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
          </a>
          <button type="button" class="btn btn-primary" onclick="saveGumsu(2)">수정</button>
        </div>
      </div>
    </div>

    <!--Script-->
    <script src="../assets/js/new-contract-order-invoice.js"></script>
    <script src="../assets/js/new-jodalchasu-gumsuchasu.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const baljuNo=document.getElementById('baljuNo').value;
        const date1=document.getElementById('tempDate1').value.split('T')[0];
        const date2=document.getElementById('tempDate2').value.split('T')[0];
        const date3=document.getElementById('tempDate3').value.split('T')[0];

        document.getElementById('oneDate'+baljuNo).value=date1;
        document.getElementById('twoDate'+baljuNo).value=date2;
        document.getElementById('threeDate'+baljuNo).value=date3;
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>