<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>검수일정 미정목록</title>

    <!--Style-->
    <style>
      #content1 {
        height: 650px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">진척검수 관리 /</span> 진척검수 필요 발주</h4>
      <div class="card">
        <!--검색-->
        <div class="card-body">
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">협력회사</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartL" onchange="updatePartCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartM" onchange="updatePartCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartS" onchange="updatePartCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="partnerSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="partnerSearchBtn()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">자재</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterL" onchange="updateMaterCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterM" onchange="updateMaterCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterS" onchange="updateMaterCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="materialSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="materialSearchBtn()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="table-responsive text-nowrap">
          <div class="card-body">
            <div id="content1">
              <table class="table table-bordered mb-4">
                <thead>
                  <tr>
                    <th></th>
                    <th>발주일</th>
                    <th>협력업체명</th>
                    <th>제품명</th>
                    <th>자재명</th>
                    <th>수량</th>
                    <th>진척검수일 등록</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="firstTbody"></tbody>
              </table>
            </div>
            <div class="mt-3 text-end mb-4">
              <a th:href="@{/progress/add_progress}">
                <button type="button" class="btn btn-primary">등록</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->
    <!--Script-->
    <script>
      let page = 1;
      let finPage=false;
      let selectPartL = null;
      let selectPartM = null;
      let selectPartS = null;
      let partnerSearch = null;
      let selectProL = null;
      let selectProM = null;
      let selectProS = null;
      let productSearch = null;
      let selectMaterL = null;
      let selectMaterM = null;
      let selectMaterS = null;
      let materialSearch = null;

      function partnerSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectPartL = (document.getElementById("selectPartL").value!=null)?document.getElementById("selectPartL").value:null;
        selectPartM = (document.getElementById("selectPartM").value!=null)?document.getElementById("selectPartM").value:null;
        selectPartS = (document.getElementById("selectPartS").value!=null)?document.getElementById("selectPartS").value:null;
        partnerSearch = (document.getElementById("partnerSearch").value!=null)?document.getElementById("partnerSearch").value:null;
        loadItems();
      }
      function productSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectProL = (document.getElementById("selectProL").value!=null)?document.getElementById("selectProL").value:null;
        selectProM = (document.getElementById("selectProM").value!=null)?document.getElementById("selectProM").value:null;
        selectProS = (document.getElementById("selectProS").value!=null)?document.getElementById("selectProS").value:null;
        productSearch = (document.getElementById("productSearch").value!=null)?document.getElementById("productSearch").value:null;
        loadItems();
      }
      function materialSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectMaterL = (document.getElementById("selectMaterL").value!=null)?document.getElementById("selectMaterL").value:null;
        selectMaterM = (document.getElementById("selectMaterM").value!=null)?document.getElementById("selectMaterM").value:null;
        selectMaterS = (document.getElementById("selectMaterS").value!=null)?document.getElementById("selectMaterS").value:null;
        materialSearch = (document.getElementById("materialSearch").value!=null)?document.getElementById("materialSearch").value:null;
        loadItems();
      }

      function loadItems() {
        const content1 = document.getElementById("content1");
        const firstTbody = document.getElementById("firstTbody");

        $.ajax({
          url:'/list/nonGumsuBalju',
          method:'GET',
          data:{page:page, selectPartL:selectPartL, selectPartM:selectPartM, selectPartS:selectPartS, partnerSearch:partnerSearch,
                selectProL:selectProL, selectProM:selectProM, selectProS:selectProS, productSearch:productSearch,
                selectMaterL:selectMaterL, selectMaterM:selectMaterM, selectMaterS:selectMaterS, materialSearch:materialSearch},
          success:function(data){
            if(data.totalPage<page) finPage=true;

            data.dtoList.forEach(x=>{
              const baljuNo=x.baljuDTO.baljuNo;
              const regDate=x.baljuDTO.regDate.split('T')[0];
              const partnerName=x.baljuDTO.contractDTO.partnerDTO.name;
              const productName=x.baljuDTO.contractDTO.jodalPlanDTO.proplanDTO.productDTO.name;
              const materialName=x.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name;
              const conNum=x.baljuDTO.contractDTO.conNum;

              const newRow = document.createElement("tr");

              [baljuNo, regDate, partnerName, productName, materialName, conNum].forEach(text => {
                const item = document.createElement("td");
                item.textContent = text;
                newRow.appendChild(item);
              });

              const btnTd = document.createElement("td");
              btnTd.innerHTML=`
                <a href="/progress/add_progress?baljuNo=${baljuNo}">
                  <button class="btn btn-primary">진척검수일 등록</button>
                </a>
              `;
              newRow.appendChild(btnTd);

              firstTbody.appendChild(newRow);
            });
          }
        });

        page++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems();
            }
          }
        });

        loadItems();
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>