<!DOCTYPE html>

<html
        class="light-style layout-menu-fixed" data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        data-theme="theme-default"
        dir="ltr"
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:replace="~{layout/manlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>분류 관리</title>
    <!--Style-->
    <style>
      #content1 {
        height: 480px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
      #content2 {
        height: 480px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
      #content3 {
        height: 480px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div style="display:none;" id="noName"></div>
    <div class="container-xxl flex-grow-4 container-p-y">
      <div class="row mb-4">
        <!--협력회사-->
        <div class="col-md-6 order-0 mb-4" style="height: 750px;">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="m-0 me-2">협력회사 카테고리 관리</h5>
                </div>
                <div class="col-md-6 text-end">
                  <input type="radio" class="form-check-input" name="showPart" id="showPartL" value="0">
                  <label class="form-check-label"> 대분류 </label>
                  <input type="radio" class="form-check-input" name="showPart" id="showPartM" value="1">
                  <label class="form-check-label"> 중분류 </label>
                  <input type="radio" class="form-check-input" name="showPart" id="showPartS" value="2" checked>
                  <label class="form-check-label"> 소분류 </label>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body mb-3" style="height: 500px;">
              <div id="content1">
                <table class="table table-hover text-center">
                  <tbody id="firstTbody"></tbody>
                </table>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 mb-1">
                  <input class="form-control" id="inputPartL" type="text"/>
                </div>
                <div class="col-md-6 mb-1">
                  <select class="select2 form-select" id="selectPartL" onchange="updatePartCode('L')"></select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-1">
                  <input class="form-control" id="inputPartM"  type="text"/>
                </div>
                <div class="col-md-6 mb-1">
                  <select class="select2 form-select" id="selectPartM" onchange="updatePartCode('M')"></select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input class="form-control" id="inputPartS" type="text"/>
                </div>
                <div class="col-md-6 text-end">
                  <button class="btn btn-primary" onclick="saveCategory('part')" type="button">추가</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/협력회사-->
        <!--제품-->
        <div class="col-md-6 order-0 mb-4" style="height: 750px;">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="m-0 me-2">제품 카테고리 관리</h5>
                </div>
                <div class="col-md-6 text-end">
                  <input type="radio" class="form-check-input" name="showPro" id="showProL" value="0">
                  <label class="form-check-label"> 대분류 </label>
                  <input type="radio" class="form-check-input" name="showPro" id="showProM" value="1">
                  <label class="form-check-label"> 중분류 </label>
                  <input type="radio" class="form-check-input" name="showPro" id="showProS" value="2" checked>
                  <label class="form-check-label"> 소분류 </label>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body mb-3" style="height: 500px;">
              <div id="content2">
                <table class="table table-hover text-center">
                  <tbody id="secondTbody"></tbody>
                </table>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 mb-1">
                  <input class="form-control" id="inputProL" type="text"/>
                </div>
                <div class="col-md-6 mb-1">
                  <select class="select2 form-select" id="selectProL" onchange="updateProCode('L')"></select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-1">
                  <input class="form-control" id="inputProM"  type="text"/>
                </div>
                <div class="col-md-6 mb-1">
                  <select class="select2 form-select" id="selectProM" onchange="updateProCode('M')"></select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input class="form-control" id="inputProS" type="text"/>
                </div>
                <div class="col-md-6 text-end">
                  <button class="btn btn-primary" onclick="saveCategory('pro')" type="button">추가</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/제품-->
      </div>
      <div class="row">
        <!--자재-->
        <div class="order-2 mb-4">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="m-0 me-2">제품 카테고리 관리</h5>
                </div>
                <div class="col-md-6 text-end">
                  <input type="radio" class="form-check-input" name="showMater" id="showMaterL" value="0">
                  <label class="form-check-label"> 대분류 </label>
                  <input type="radio" class="form-check-input" name="showMater" id="showMaterM" value="1">
                  <label class="form-check-label"> 중분류 </label>
                  <input type="radio" class="form-check-input" name="showMater" id="showMaterS" value="2" checked>
                  <label class="form-check-label"> 소분류 </label>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body mb-3" style="height: 500px;">
              <div id="content3">
                <table class="table table-hover text-center">
                  <tbody id="thirdTbody"></tbody>
                </table>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 mb-1">
                  <input class="form-control" id="inputMaterL" type="text"/>
                </div>
                <div class="col-md-6 mb-1">
                  <select class="select2 form-select" id="selectMaterL" onchange="updateMaterCode('L')"></select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-1">
                  <input class="form-control" id="inputMaterM"  type="text"/>
                </div>
                <div class="col-md-6 mb-1">
                  <select class="select2 form-select" id="selectMaterM" onchange="updateMaterCode('M')"></select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input class="form-control" id="inputMaterS" type="text"/>
                </div>
                <div class="col-md-6 text-end">
                  <button class="btn btn-primary" onclick="saveCategory('mater')" type="button">추가</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/자재-->
      </div>
    </div>

    <!--Modal-->
    <!--Modal1-->
    <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel"
         tabindex="-1" style="display: none" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">삭제하시겠습니까?</h5>
          </div>
          <div class="modal-body" id="deleteText"></div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-dismiss="modal"
                    id="deleteBtn" onclick="deleteCategory(this)">
              삭제
            </button>
            <button class="btn btn-primary" data-bs-dismiss="modal">
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal1-->
    <!--Modal2-->
    <div class="modal fade" id="modalToggle2" aria-labelledby="modalToggleLabel"
         tabindex="-1" style="display: none" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">협력회사 카테고리 수정</h5>
          </div>
          <div class="modal-body text-center">
            <div class="row mb-2">
              <div class="col-md-4">
                <select class="select2 form-select" id="selectPartL2" onchange="updatePartCode2('L')"></select>
              </div>
              <div class="col-md-4">
                <select class="select2 form-select" id="selectPartM2" onchange="updatePartCode2('M')"></select>
              </div>
              <div class="col-md-4"></div>
            </div>
            <div class="row mb-2">
              <div class="col-md-4">
                <input class="form-control" id="inputPartL2" type="text"/>
              </div>
              <div class="col-md-4">
                <input class="form-control" id="inputPartM2" type="text"/>
              </div>
              <div class="col-md-4">
                <input class="form-control" id="inputPartS2" type="text"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalToggle2" data-bs-dismiss="modal"
                    id="modifyPart" onclick="modifyCategory(this)">
              수정
            </button>
            <button class="btn btn-primary" data-bs-dismiss="modal">
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal2-->
    <!--Modal3-->
    <div class="modal fade" id="modalToggle3" aria-labelledby="modalToggleLabel"
         tabindex="-1" style="display: none" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">제품 카테고리 수정</h5>
          </div>
          <div class="modal-body text-center">
            <div class="row mb-2">
              <div class="col-md-4">
                <select class="select2 form-select" id="selectProL2" onchange="updateProCode2('L')"></select>
              </div>
              <div class="col-md-4">
                <select class="select2 form-select" id="selectProM2" onchange="updateProCode2('M')"></select>
              </div>
              <div class="col-md-4"></div>
            </div>
            <div class="row mb-2">
              <div class="col-md-4">
                <input class="form-control" id="inputProL2" type="text"/>
              </div>
              <div class="col-md-4">
                <input class="form-control" id="inputProM2" type="text"/>
              </div>
              <div class="col-md-4">
                <input class="form-control" id="inputProS2" type="text"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalToggle3" data-bs-dismiss="modal"
                    id="modifyPro" onclick="modifyCategory(this)">
              수정
            </button>
            <button class="btn btn-primary" data-bs-dismiss="modal">
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal3-->
    <!--Modal4-->
    <div class="modal fade" id="modalToggle4" aria-labelledby="modalToggleLabel"
         tabindex="-1" style="display: none" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">자재 카테고리 수정</h5>
          </div>
          <div class="modal-body text-center">
            <div class="row mb-2">
              <div class="col-md-4">
                <select class="select2 form-select" id="selectMaterL2" onchange="updateMaterCode2('L')"></select>
              </div>
              <div class="col-md-4">
                <select class="select2 form-select" id="selectMaterM2" onchange="updateMaterCode2('M')"></select>
              </div>
              <div class="col-md-4"></div>
            </div>
            <div class="row mb-2">
              <div class="col-md-4">
                <input class="form-control" id="inputMaterL2" type="text"/>
              </div>
              <div class="col-md-4">
                <input class="form-control" id="inputMaterM2" type="text"/>
              </div>
              <div class="col-md-4">
                <input class="form-control" id="inputMaterS2" type="text"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalToggle4" data-bs-dismiss="modal"
                    id="modifyMater" onclick="modifyCategory(this)">
              수정
            </button>
            <button class="btn btn-primary" data-bs-dismiss="modal">
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal4-->
    <!--/Modal-->

    <!--Script-->
    <script src="../assets/js/category-crud.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadCategory('part');
            }
          }
        });
        content2.addEventListener("scroll", function () {
          if(finPage2==false){
            const scrollTop = content2.scrollTop;
            const scrollHeight = content2.scrollHeight;
            const clientHeight = content2.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadCategory('pro');
            }
          }
        });
        content3.addEventListener("scroll", function () {
          if(finPage3==false){
            const scrollTop = content2.scrollTop;
            const scrollHeight = content2.scrollHeight;
            const clientHeight = content2.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadCategory('mater');
            }
          }
        });

        loadCategory('part');
        loadCategory('pro');
        loadCategory('mater');

        const radioButtons0 = document.querySelectorAll('input[type="radio"][name="showPart"]');
        radioButtons0.forEach(radio => { radio.addEventListener('change', () => refreshPartCategory()); });
        const radioButtons1 = document.querySelectorAll('input[type="radio"][name="showPro"]');
        radioButtons1.forEach(radio => { radio.addEventListener('change', () => refreshProCategory()); });
        const radioButtons2 = document.querySelectorAll('input[type="radio"][name="showMater"]');
        radioButtons2.forEach(radio => { radio.addEventListener('change', () => refreshMaterCategory()); });
      });
    </script>
  </span>

</th:block>
</html>