<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/manlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>직원정보</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">직원 계정 /</span> 직원 정보</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <!-- Account -->
            <hr class="my-0" />
            <div class="card-body">
              <div class="mb-3 col-md-6">
                <label class="form-label">직원번호</label>
                <input class="form-control" type="text" id="mno" th:value="${member.mno}" readonly/>
              </div>
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label class="form-label">성명</label>
                  <input class="form-control" id="name" type="text" th:value="${member.name}"/>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">전화번호</label>
                  <div class="input-group input-group-merge">
                    <input class="form-control" id="phonenumber" placeholder="000-0000-0000" type="text" th:value="${member.phonenumber}"/>
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">소속부서</label>
                  <select class="select2 form-select" id="department">
                    <option value="자재부서" th:selected="${member.department == '자재부서'}">자재부서</option>
                    <option value="개발부서" th:selected="${member.department == '개발부서'}">개발부서</option>
                    <option value="생산부서" th:selected="${member.department == '생산부서'}">생산부서</option>
                  </select>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">접근권한</label>
                  <select class="select2 form-select" id="role" th:disabled="${member.roleSet.contains(T(mit.iwrcore.IWRCore.entity.MemberRole).MANAGER)} ? 'disabled'">
                    <option value="0" th:selected="${member.roleSet.contains(T(mit.iwrcore.IWRCore.entity.MemberRole).MANAGER)}">관리자</option>
                    <option value="1" th:selected="${member.roleSet.contains(T(mit.iwrcore.IWRCore.entity.MemberRole).MATERIAL_TEAM)}">자재사원</option>
                    <option value="2" th:selected="${member.roleSet.contains(T(mit.iwrcore.IWRCore.entity.MemberRole).DEV_PROD_TEAM)}">생산/개발사원</option>
                  </select>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">아이디</label>
                  <input class="form-control" id="id" placeholder="ert845dg" type="text" th:value="${member.id}"/>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">비밀번호</label>
                  <input class="form-control" id="pw" placeholder="awe#g32sdf*" type="text" th:value="${member.pw}"/>
                </div>
                <div id="idCheck" class="mb-2"></div>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between w-100">
                <div>
                  <a href="/manager/list_member">
                    <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
                  </a>
                </div>
                <div>
                  <button type="button" class="btn btn-primary" onclick="setSaveMember()">수정</button>
                  <button class="btn btn-secondary" data-bs-toggle="modal" href="#modalToggle" onclick="setDeleteMember()">삭제</button>
                </div>
              </div>
            </div>
            <!-- /Account -->
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">삭제하시겠습니까?</h5>
          </div>
          <div class="modal-body text-center" id="modalDeleteText"></div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-toggle="modal"
                    data-bs-dismiss="modal" id="modalDeleteBtn" onclick="deleteMember(this)"
            >
              삭제
            </button>
            <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->
    <script src="../assets/js/manager-crud.js"></script>
    <script>
      document.getElementById('id').addEventListener("input", function(){
        let mno = null;
        let pno = null;
        let id = document.getElementById('id').value;

        let inputMno=document.getElementById('mno');
        let inputPno=document.getElementById('pno');
        mno=(inputMno!=null)?inputMno.value:null;
        pno=(inputPno!=null)?inputPno.value:null;

        $.ajax({
          url:'/input/id',
          method:'GET',
          data:{mno:mno, pno:pno, id:id},
          success:function(data){
            if(data==1){
              checkID=true;
              document.getElementById('idCheck').innerHTML=`<span style="color: red;">존재하는 아이디입니다.</span>`;
            }else{
              checkID=false;
              document.getElementById('idCheck').innerHTML=``;
            }
          }
        });
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>