<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/manlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>협력회사 정보 수정</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">협력회사 계정 /</span> 협력회사 정보</h4>
      <div class="col-md-12">
        <div class="card mb-4">
          <!-- Account -->
          <div class="card-body">
            <h5>협력업체 정보</h5>
            <div class="mb-3 col-md-6">
              <label class="form-label">협력회사번호</label>
              <input class="form-control" type="text" id="pno" th:value="${partner.pno}" readonly/>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label class="form-label">상호</label>
                <input class="form-control" type="text" id="name" placeholder="협력업체 상호 입력" th:value="${partner.name}" readonly/>
              </div>
              <div class="mb-3 col-md-6">
                <label class="form-label">사업자 등록번호</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="registerNum" class="form-control" placeholder="000-00-00000" th:value="${partner.registrationNumber}" readonly/>
                </div>
              </div>
              <div id="regCheck" class="mb-2 text-end"></div>
              <div class="mb-3 col-md-6">
                <label class="form-label">대표</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="ceo" class="form-control" placeholder="홍길동" th:value="${partner.ceo}" readonly/>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label class="form-label">사업장 소재지</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="location" class="form-control" placeholder="협력업체 사업장 소재지" th:value="${partner.location}" readonly/>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label class="form-label">업태</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="type" class="form-control" placeholder="제조업" th:value="${partner.type}" readonly/>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label class="form-label">종목</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="sector" class="form-control" placeholder="금속사출부품" th:value="${partner.sector}" readonly/>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label class="form-label">전화번호</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="phonenumber" class="form-control" placeholder="000-000-0000" th:value="${partner.telNumber}" readonly/>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label class="form-label">팩스번호</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="faxnumber" class="form-control" placeholder="000-000-0000" th:value="${partner.faxNumber}" readonly/>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label class="form-label">메일주소</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="email" class="form-control" placeholder="aaa1111@mail.com" th:value="${partner.email}" readonly/>
                </div>
              </div>
            </div>
          </div>
          <hr class="m-0">
          <div class="card-body">
            <h5>협력회사 카테고리 정보</h5>
            <input type="number" style="display:none;" th:value="${partner.partSDTO.partScode}" id="scode">
            <div class="row">
              <div class="mb-3 col-md-4">
                <label class="form-label">대분류</label>
                <div class="input-group input-group-merge">
                  <select class="select2 form-select" id="selectPartL" onchange="updatePartCode('L')" disabled></select>
                </div>
              </div>
              <div class="mb-3 col-md-4">
                <label class="form-label">중분류</label>
                <div class="input-group input-group-merge">
                  <select class="select2 form-select" id="selectPartM" onchange="updatePartCode('M')" disabled></select>
                </div>
              </div>
              <div class="mb-3 col-md-4">
                <label class="form-label">소분류</label>
                <div class="input-group input-group-merge">
                  <select class="select2 form-select" id="selectPartS" onchange="updatePartCode('S')" disabled>
                    <option th:value="${partner.partSDTO.partScode}" selected></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <hr class="m-0">
          <div class="card-body">
            <h5>담당자 정보</h5>
            <div class="row">
              <div class="mb-3 col-md-4">
                <label class="form-label">담당자 이름</label>
                <input type="text" class="form-control" id="cname" placeholder="박담당" th:value="${partner.contacter}" readonly/>
              </div>
              <div class="mb-3 col-md-4">
                <label class="form-label">담당자 전화번호</label>
                <input type="text" class="form-control" id="cnumber" placeholder="000-0000-0000" th:value="${partner.contacterNumber}" readonly/>
              </div>
              <div class="mb-3 col-md-4">
                <label class="form-label">담당자 이메일</label>
                <input type="text" class="form-control" id="cmail" placeholder="ljj@mail.com" th:value="${partner.contacterEmail}" readonly/>
              </div>
            </div>
          </div>
          <hr class="m-0">
          <div class="card-body">
            <h5>계정 정보</h5>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label class="form-label">아이디</label>
                <input type="text" class="form-control" id="id" placeholder="efs1234" th:value="${partner.id}" readonly/>
              </div>
              <div class="mb-3 col-md-6">
                <label class="form-label">비밀번호</label>
                <input type="text" class="form-control" id="pw" placeholder="qe@df243z" th:value="${partner.pw}" readonly/>
              </div>
            </div>
            <div id="idCheck" class="mb-2"></div>
            <!--뒤로가기,등록 버튼 세트-->
            <div class="d-flex justify-content-between w-100">
              <div>
                <a href="/manager/list_partner">
                  <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
                </a>
              </div>
              <div></div>
              <!--/-->
            </div>
            <!-- /Account -->
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">삭제하시겠습니까?</h5>
          </div>
          <div class="modal-body text-center" id="modalDeleteText"></div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-toggle="modal"
                    data-bs-dismiss="modal" id="modalDeleteBtn" onclick="deletePartner(this)"
            >
              삭제
            </button>
            <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->
    <!--Script-->
    <script src="../assets/js/manager-crud.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const scode=document.getElementById('scode').value;
        showPartSCode=scode;
        initPart1();
      });

      document.getElementById('id').addEventListener("input", function(){
        let mno = null;
        let pno = null;
        let id = document.getElementById('id').value;

        let inputMno=document.getElementById('mno');
        let inputPno=document.getElementById('pno');
        mno=(inputMno!=null)?inputMno.value:null;
        pno=(inputPno!=null)?inputPno.value:null;

        $.ajax({
          url:'/input/id',
          method:'GET',
          data:{mno:mno, pno:pno, id:id},
          success:function(data){
            if(data==1){
              checkID=true;
              document.getElementById('idCheck').innerHTML=`<span style="color: red;">존재하는 아이디입니다.</span>`;
            }else{
              checkID=false;
              document.getElementById('idCheck').innerHTML=``;
            }
          }
        });
      });

      document.getElementById('registerNum').addEventListener("input", function(){
        let pno = null;
        let registerNum=document.getElementById('registerNum').value;

        let inputPno=document.getElementById('pno');
        pno=(inputPno!=null)?inputPno.value:null;

        $.ajax({
          url:'/input/regNum',
          method:'GET',
          data:{pno:pno, registerNum:registerNum},
          success:function(data){
            if(data==1){
              checkReg=true;
              document.getElementById('regCheck').innerHTML=`<span style="color: red;">존재하는 사업자등록번호입니다.</span>`;
            }else{
              checkReg=false;
              document.getElementById('regCheck').innerHTML=``;
            }
          }
        });
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>