<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>신규 등록</title>
    <!--Style-->
    <style>
      #content1 {
        height: 250px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
      #content2 {
        height: 250px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

    <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">발주서 /</span> 신규 등록</h4>
      <div class="fullscreen-background">
        <div class="card mb-4">
          <div class="card-body">
            <h5>공급자 정보</h5>
            <label class="form-label">협력업체명</label>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" type="text" id="partnerName" th:value="${name}"/>
              </div>
              <div class="col-md-6">
                <button
                        type="button"
                        class="btn btn-outline-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#modalScrollable"
                >
                  공급자 선택
                </button>
              </div>
            </div>
            <input class="form-control" type="number" id="partnerNo" style="display:none;" th:value="${pno}"/>
          </div>
          <hr class="m-0">
          <div class="card-body">
            <div>
              <label class="col-form-label"><h5>발주 요청 가능 목록</h5></label>
              <div class="row mb-2">
                <div class="col-md-2">
                  <button type="button" class="btn btn-outline-primary" style="width: fit-content;" onclick="autoBtn(4)">
                    수량 자동입력
                  </button>&nbsp;
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <input id="baseDate" type="date" class="form-control col-md-2" placeholder="발주 시작일" style=" width: 200px;">&nbsp;
                    <span style="width: fit-content;" class="col-md-1">일 기준</span>
                    <input id="days-input" type="number" class="form-control col-md-2" placeholder="각 항목 간격 (일)" style="width: 200px;" value="15">&nbsp;
                    <button type="button" class="btn btn-outline-primary col-md-2" style="width: fit-content;" onclick="autoBtn(2)">
                      발주일 일괄 등록
                    </button>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-2">
                  <input type="number" style="display:none;" value="0" id="checkAllBtn">
                  <button type="button" class="btn btn-outline-primary" onclick="selectAll()">
                    모두선택
                  </button>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <button
                            type="button"
                            class="btn btn-outline-primary col-md-2"
                            data-bs-toggle="modal"
                            data-bs-target="#modalScrollable2"
                            style=" width: 200px;"
                    >
                      배송장소 선택
                    </button>
                    <span class="col-md-1"></span>
                    <input id="loc-input" type="text" class="form-control col-md-2"
                           placeholder="배송장소" style="width: 200px;">&nbsp;
                    <button id="bulk-date-button" type="button" class="btn btn-outline-primary col-md-2"
                            style="width: fit-content;" onclick="autoBtn(3)">
                      배송장소 일괄 등록
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="setTable"></div>
            <div class="d-flex justify-content-between w-100">
              <button type="reset" class="btn btn-outline-secondary" th:onclick="|location.href='@{/order/list_order}'|">취소</button>
              <button class="btn btn-primary" th:onclick="saveBalju()">등록</button>
            </div>
          </div>
          <!--/Card body-->
        </div>
        <!--/ Card-->
      </div>
    </div>

    <!--Modal-->
    <!--Modal1-->
    <div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title mb-4">공급자 검색</h5>
            <div class="row mb-10 mb-2">
              <label class="form-label col-md-2" style="width: fit-content;">협력회사</label>
              <div class="col-md-10">
                <div class="row mb-2">
                  <div class="col-md-4">
                    <select class="form-select form-select-sm" id="selectPartL" onchange="updatePartCode('L')"></select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm" id="selectPartM" onchange="updatePartCode('M')"></select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm" id="selectPartS" onchange="updatePartCode('S')"></select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="partnerSearch" style="height: 32px; font-size: 12px;" value="">
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="partnerSearchBtn('balju')">검색</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="m-0">
          <div class="modal-body" style="height: 350px;">
            <div id="content1">
              <table class="table table-hover">
                <tbody id="firstTbody"></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Modal1-->
    <!--Modal2-->
    <div class="modal fade" id="modalScrollable2" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content" style="width: 500px;">
          <div class="modal-body">
            <h5 class="modal-title mb-4">배송지</h5>
            <div class="row mb-2">
              <label class="form-label col-md-2" style="width: fit-content;">검색</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="searchLocation" style="height: 32px; font-size: 12px;" placeholder="배송지 검색">
              </div>
            </div>
            <div class="row">
              <label class="form-label col-md-2" style="width: fit-content;">추가</label>
              <div class="col-md-7">
                <input type="text" class="form-control" id="addLocation" style="height: 32px; font-size: 12px;" placeholder="새로운 배송지">
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-primary" onclick="saveLocation('balju')">
                  추가
                </button>
              </div>
            </div>
          </div>
          <hr class="m-0">
          <div class="modal-body" style="height: 300px;">
            <div class="table-responsive text-nowrap">
              <div id="content2">
                <table class="table table-hover">
                  <tbody id="secondTbody"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal2-->
    <!--/Modal-->

    <!--Script-->
    <script src="../assets/js/new-contract-order-invoice.js"></script>
    <script src="../assets/js/new-jodalchasu-gumsuchasu.js"></script>
    <script src="../assets/js/etc-crud.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
            if(finPage==false){
                const scrollTop = content1.scrollTop;
                const scrollHeight = content1.scrollHeight;
                const clientHeight = content1.clientHeight;

                if (scrollTop + clientHeight >= scrollHeight - 10) {
                    loadItems('balju');
                }
            }
        });
        content2.addEventListener("scroll", function () {
            if(finPage2==false){
                const scrollTop = content2.scrollTop;
                const scrollHeight = content2.scrollHeight;
                const clientHeight = content2.clientHeight;

                if (scrollTop + clientHeight >= scrollHeight - 10) {
                    locationList();
                }
            }
        });

        loadItems('balju');
        locationList();

        const pno=document.getElementById('partnerNo').value;
        if(pno!==0){
          getNonBaljuContract(pno);
        }

        const container = document.getElementById('setTable');
        container.addEventListener('input', function(event) {
            if (event.target.matches('input[id*="Num"]')) {
                checkSumBaljuNum(event.target);
            }
        });

      });

      const pno=document.getElementById('partnerNo').value;
      if(pno) getNonBaljuContract(pno);

      let timeout;
      document.getElementById('searchLocation').addEventListener("input", function(){
        clearTimeout(timeout);
        timeout = setTimeout(refreshLocation, 100);
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>