<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">

<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>자재 관리/ 조달 계획 필요 자재</title>
  </span>

  <span id="content">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">자재 관리 /</span> 조달 계획 수립
      </h4>
      <div class="card mb-4">
        <div class="card-body">&nbsp;
          <div class="row mb-4">
            <div class="col-md-2">
              <button type="button" class="btn btn-outline-primary" style="width: fit-content;" onclick="autoBtn(1)">
                수량 자동입력
              </button>&nbsp;
            </div>
            <div class="col-md-10">
              <div class="row">
                <input id="baseDate" type="date" class="form-control col-md-2" placeholder="조달계획 시작일" style=" width: 200px;">&nbsp;
                <span style="width: fit-content;" class="col-md-1">일 기준</span>
                <input id="days-input" type="number" class="form-control col-md-2" placeholder="각 항목 간격 (일)" style="width: 200px;" value="12">&nbsp;
                <button type="button" class="btn btn-outline-primary col-md-2" style="width: fit-content;" onclick="autoBtn(2)">
                  예정일 일괄 등록
                </button>
              </div>
            </div>
          </div>
          <input type="number" style="display:none;" value="0" id="checkAllBtn">
          <input type="hidden" name="joNo" th:value="${joNo}">
          <h5>생산제품: [[${structure_list[0].proplanDTO.productDTO.name}]]([[${structure_list[0].proplanDTO.productDTO.manuCode}]])</h5>
          <h5>생산예정일: [[${#temporals.format(structure_list[0].proplanDTO.startDate, 'yyyy-MM-dd')}]]~[[${#temporals.format(structure_list[0].proplanDTO.endDate, 'yyyy-MM-dd')}]]</h5>
          <div style="display:none;" id="proStart">[[${#temporals.format(baseDate, 'yyyy-MM-dd')}]]</div>
          <div class="text-nowrap table-responsive" id="setTable">
            <table class="table table-bordered mb-4" id="autoTable">
              <thead>
                <tr>
                  <th rowspan="2" class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-primary" onclick="selectAll(1)">
                      <i class="bx bx-check"></i>
                    </button>
                  </th>
                  <th rowspan="2" class="text-center">자재번호</th>
                  <th rowspan="2" class="text-center">자재명</th>
                  <th colspan="3" class="text-center">수량</th>
                  <th colspan="2" class="text-center">1차</th>
                  <th colspan="2" class="text-center">2차</th>
                  <th colspan="2" class="text-center">3차</th>
                </tr>
                <tr>
                  <th class="text-center">요청</th>
                  <th class="text-center">재고</th>
                  <th class="text-center">필요</th>
                  <th class="text-center">수량</th>
                  <th class="text-center">예정일</th>
                  <th class="text-center">수량</th>
                  <th class="text-center">예정일</th>
                  <th class="text-center">수량</th>
                  <th class="text-center">예정일</th>
                </tr>
              </thead>
              <tbody id="contentTbody">
                <tr th:each="list:${structure_list}" th:style="${(list.jodalChasuDateDTOList != null ? 'background-color: beige' : '')+(list.jodalPlanDTO.joNo == jodalPlan.joNo ? 'border: solid 3px' : '')}">
                  <td th:id="'check'+${list.jodalPlanDTO.joNo}" class="text-center">
                    <th:block th:if="${list.jodalChasuDateDTOList == null}">
                      <input type="checkbox" class="form-check-input" th:id="'btn'+${list.jodalPlanDTO.joNo}">
                    </th:block>
                  </td>
                  <td>[[${list.structureDTO.materialDTO.materCode}]]</td>
                  <td>[[${list.structureDTO.materialDTO.name}]]</td>
                  <td th:id="'totalNum'+${list.jodalPlanDTO.joNo}">
                    [[${list.structureDTO.quantity*list.proplanDTO.pronum}]]
                  </td>
                  <td th:id="'stockNum'+${list.jodalPlanDTO.joNo}">
                    [[${list.sumShip-list.sumRequest}]]
                  </td>
                  <td th:id="'needNum'+${list.jodalPlanDTO.joNo}">
                    [[${(list.structureDTO.quantity*list.proplanDTO.pronum)-(list.sumShip-list.sumRequest)}]]
                  </td>
                  <th:block th:if="${list.jodalChasuDateDTOList != null}">
                    <td>[[${list.jodalChasuDateDTOList[0].juNum}]]</td>
                    <td>[[${list.jodalChasuDateDTOList[0].joDate}]]</td>
                    <td>[[${list.jodalChasuDateDTOList[1].juNum}]]</td>
                    <td>[[${list.jodalChasuDateDTOList[1].joDate}]]</td>
                    <td>[[${list.jodalChasuDateDTOList[2].juNum}]]</td>
                    <td>[[${list.jodalChasuDateDTOList[2].joDate}]]</td>
                  </th:block>
                  <th:block th:if="${list.jodalChasuDateDTOList == null}">
                    <td>
                      <input type="number" style="border: 0; width: 70px;" th:id="'oneNum'+${list.jodalPlanDTO.joNo}">
                    </td>
                    <td>
                      <input type="date"  style="border: 0; width: 100px;" th:id="'oneDate'+${list.jodalPlanDTO.joNo}">
                    </td>
                    <td>
                      <input type="number" style="border: 0; width: 70px;" th:id="'twoNum'+${list.jodalPlanDTO.joNo}">
                    </td>
                    <td>
                      <input type="date"  style="border: 0; width: 100px;" th:id="'twoDate'+${list.jodalPlanDTO.joNo}">
                    </td>
                    <td>
                      <input type="number" style="border: 0; width: 70px;" th:id="'threeNum'+${list.jodalPlanDTO.joNo}">
                    </td>
                    <td>
                      <input type="date"  style="border: 0; width: 100px;" th:id="'threeDate'+${list.jodalPlanDTO.joNo}">
                    </td>
                  </th:block>
                  <td style="display:none;">[[${list.jodalPlanDTO.joNo}]]</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-between w-100">
            <a th:href="@{/jodal/list_jodal}">
              <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
            </a>
            <button type="button" class="btn btn-primary" onclick="saveChasu()">등록</button>
          </div>
        </div>
      </div>
    </div>

    <!--script-->
    <script src="../assets/js/new-jodalchasu-gumsuchasu.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const startdate=document.getElementById('proStart').innerText;
        const date=startdate.split('T')[0];
        document.getElementById('baseDate').value=date;

        const container = document.getElementById('setTable');
        container.addEventListener('input', function(event) {
            if (event.target.matches('input[id*="Num"]')) {
                checkSumJodalNum(event.target);
            }
        });
      });
    </script>
    <!--/script-->
  </span>
</th:block>
</html>
