<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>자재 관리/ 조달계획 필요 자재</title>

    <!--Style-->
    <style>
      #content1 {
        height: 750px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
      #content2 {
        height: 500px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
  <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">자재 관리 /</span> 조달 계획 필요 자재</h4>
      <!--추가-->
      <div class="card mb-4">
        <!--검색-->
        <div class="card-body">
          <h5>조달계획 수립 필요 자재</h5>
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">자재</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterL" onchange="updateMaterCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterM" onchange="updateMaterCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterS" onchange="updateMaterCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="materialSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="materialSearchBtn()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <div id="content1">
                <table class="table table-bordered mb-4">
                  <thead>
                    <tr>
                      <th>제품 이름</th>
                      <th>자재번호</th>
                      <th>자재명</th>
                      <th>수량</th>
                      <th>생산계획 예정일</th>
                      <th>등록</th>
                    </tr>
                  </thead>
                  <tbody id="firstTbody"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/추가-->
      <!-- Hoverable Table rows -->
      <div class="card">
        <!--검색-->
        <div class="card-body">
          <h5>계약서 등록 필요 조달계획</h5>
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL2" onchange="updateProCode2('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM2" onchange="updateProCode2('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS2" onchange="updateProCode2('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch2" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn2()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">자재</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterL2" onchange="updateMaterCode2('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterM2" onchange="updateMaterCode2('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterS2" onchange="updateMaterCode2('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="materialSearch2" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="materialSearchBtn2()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <div id="content2">
                <table class="table table-bordered mb-4">
                  <thead>
                    <tr>
                      <th>제품 이름</th>
                      <th>자재번호</th>
                      <th>자재명</th>
                      <th>조달계획 수량</th>
                      <th>최초조달 예정일</th>
                      <th>수정/취소</th>
                      <th>
                        <select class="form-select form-select-sm" style="width: fit-content;" id="progressContract2">
                          <option value="">전체 계약상태</option>
                          <option value="0">계약 필요</option>
                          <option value="1">계약 완료</option>
                        </select>
                      </th>
                    </tr>
                  </thead>
                  <tbody id="secondTbody"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div
            class="modal fade"
            id="modalToggle"
            aria-labelledby="modalToggleLabel"
            tabindex="-1"
            style="display: none"
            aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">삭제하시겠습니까?</h5>
          </div>
          <div class="modal-body" id="deleteText"></div>
          <div class="modal-footer">
            <button
                    class="btn btn-primary"
                    data-bs-target="#modalToggle2"
                    data-bs-dismiss="modal"
                    id="deleteBtn"
                    onclick="deleteJodalChasu(this)"
            >
              삭제
            </button>
            <button
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
            >
              취소
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--/Modal-->

    <!--Script-->
    <script>
      let page = 1;
      let finPage=false;
      let selectProL = null;
      let selectProM = null;
      let selectProS = null;
      let productSearch = null;
      let selectMaterL = null;
      let selectMaterM = null;
      let selectMaterS = null;
      let materialSearch = null;

      let page2 = 1;
      let finPage2=false;
      let selectProL2 = null;
      let selectProM2 = null;
      let selectProS2 = null;
      let productSearch2 = null;
      let selectMaterL2 = null;
      let selectMaterM2 = null;
      let selectMaterS2 = null;
      let materialSearch2 = null;
      let progressContract2 = null;

      function productSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectProL = (document.getElementById("selectProL").value!=null)?document.getElementById("selectProL").value:null;
        selectProM = (document.getElementById("selectProM").value!=null)?document.getElementById("selectProM").value:null;
        selectProS = (document.getElementById("selectProS").value!=null)?document.getElementById("selectProS").value:null;
        productSearch = (document.getElementById("productSearch").value!=null)?document.getElementById("productSearch").value:null;
        loadItems();
      }
      function materialSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectMaterL = (document.getElementById("selectMaterL").value!=null)?document.getElementById("selectMaterL").value:null;
        selectMaterM = (document.getElementById("selectMaterM").value!=null)?document.getElementById("selectMaterM").value:null;
        selectMaterS = (document.getElementById("selectMaterS").value!=null)?document.getElementById("selectMaterS").value:null;
        materialSearch = (document.getElementById("materialSearch").value!=null)?document.getElementById("materialSearch").value:null;
        loadItems();
      }

      function productSearchBtn2(){
        page2 = 1;
        finPage2=false;
        document.getElementById("secondTbody").innerText='';
        selectProL2 = (document.getElementById("selectProL2").value!=null)?document.getElementById("selectProL2").value:null;
        selectProM2 = (document.getElementById("selectProM2").value!=null)?document.getElementById("selectProM2").value:null;
        selectProS2 = (document.getElementById("selectProS2").value!=null)?document.getElementById("selectProS2").value:null;
        productSearch2 = (document.getElementById("productSearch2").value!=null)?document.getElementById("productSearch2").value:null;
        loadItems2();
      }
      function materialSearchBtn2(){
        page2 = 1;
        finPage2=false;
        document.getElementById("secondTbody").innerText='';
        selectMaterL2 = (document.getElementById("selectMaterL2").value!=null)?document.getElementById("selectMaterL2").value:null;
        selectMaterM2 = (document.getElementById("selectMaterM2").value!=null)?document.getElementById("selectMaterM2").value:null;
        selectMaterS2 = (document.getElementById("selectMaterS2").value!=null)?document.getElementById("selectMaterS2").value:null;
        materialSearch2 = (document.getElementById("materialSearch2").value!=null)?document.getElementById("materialSearch2").value:null;
        loadItems2();
      }

      document.getElementById('progressContract2').addEventListener("change", function(){
        progressContract2=document.getElementById('progressContract2').value;
        page2 = 1;
        finPage2=false;
        document.getElementById("secondTbody").innerText='';
        loadItems2();
      });

      function loadItems() {
        const content1 = document.getElementById("content1");
        const firstTbody = document.getElementById("firstTbody");

        $.ajax({
          url:'/list/nonChasuJodalPlan',
          method:'GET',
          data:{page:page, selectProL:selectProL, selectProM:selectProM, selectProS:selectProS, productSearch:productSearch,
                selectMaterL:selectMaterL, selectMaterM:selectMaterM, selectMaterS:selectMaterS, materialSearch:materialSearch},
          success:function(data){
            if(data.totalPage<page) finPage=true;

            data.dtoList.forEach(x=>{
              const joNo=x.joNo;
              const manuCode=x.proplanDTO.productDTO.manuCode;
              const productName=x.proplanDTO.productDTO.name;
              const materCode=x.materialDTO.materCode;
              const materialName=x.materialDTO.name;
              const pronum=x.proplanDTO.pronum;
              const startDate=x.proplanDTO.startDate.split('T')[0];
              const endDate=x.proplanDTO.endDate.split('T')[0];
              const date=startDate+"~"+endDate;

              const newRow = document.createElement("tr");

              [productName, materCode, materialName, pronum, date].forEach(text => {
                const item = document.createElement("td");
                item.textContent = text;
                newRow.appendChild(item);
              });

              const btnTd = document.createElement("td");
              btnTd.innerHTML=`
                <a href="/jodal/jodal_ready?joNo=${joNo}&manufactureCode=${manuCode}">
                  <button type="button" class="btn btn-primary">조달계획 등록</button>
                </a>
              `;
              newRow.appendChild(btnTd);

              firstTbody.appendChild(newRow);
            });
          }
        });

        page++;
      }

      function loadItems2() {
        const content2 = document.getElementById("content2");
        const secondTbody = document.getElementById("secondTbody");

        progressContract2=(document.getElementById("progressContract2").value!='')?document.getElementById("progressContract2").value:null;

        $.ajax({
          url:'/list/yesChasuJodalPlan',
          method:'GET',
          data:{page2:page2, selectProL2:selectProL2, selectProM2:selectProM2, selectProS2:selectProS2, productSearch2:productSearch2,
                selectMaterL2:selectMaterL2, selectMaterM2:selectMaterM2, selectMaterS2:selectMaterS2, materialSearch2:materialSearch2, progressContract2:progressContract2},
          success:function(data){
            if(data.totalPage<page2) finPage2=true;

            data.dtoList.forEach(x=>{
              const joNo=x.jodalPlanDTO.joNo;
              const contractDTO=x.contractDTO;
              const productName=x.jodalPlanDTO.proplanDTO.productDTO.name;
              const materCode=x.jodalPlanDTO.materialDTO.materCode;
              const materialName=x.jodalPlanDTO.materialDTO.name;
              const joNum=x.allNum;
              const startDate=x.jodalChasuDTO.joDate.split('T')[0];

              const newRow = document.createElement("tr");

              const productNameTd = document.createElement("td");
              productNameTd.id='productName'+joNo;
              productNameTd.textContent = productName;
              newRow.appendChild(productNameTd);

              const materialCodeTd = document.createElement("td");
              materialCodeTd.id='materialCode'+joNo;
              materialCodeTd.textContent = materCode;
              newRow.appendChild(materialCodeTd);

              const materialNameTd = document.createElement("td");
              materialNameTd.id='materialName'+joNo;
              materialNameTd.textContent = materialName;
              newRow.appendChild(materialNameTd);

              const numTd = document.createElement("td");
              numTd.id='num'+joNo;
              numTd.textContent = joNum;
              newRow.appendChild(numTd);

              const periodTd = document.createElement("td");
              periodTd.id='period'+joNo;
              periodTd.textContent = startDate;
              newRow.appendChild(periodTd);

              const btn1Td = document.createElement("td");
              if(contractDTO==null) {
                btn1Td.innerHTML=`
                  <a href="/jodal/modify_jodal?joNo=${joNo}">
                    <button class="btn btn-primary">수정</button>
                  </a>
                  <button class="btn btn-secondary" data-bs-toggle="modal" href="#modalToggle" value="${joNo}" onclick="deleteBtn(this)">취소</button>
                `;
              }
              if(contractDTO!=null) {
                btn1Td.innerHTML=`
                  <a href="/jodal/modify_jodal?joNo=${joNo}">
                    <button class="btn btn-primary">수정</button>
                  </a>
                  <button class="btn btn-outline-secondary">취소</button>
                `;
              }
              newRow.appendChild(btn1Td);

              const btn2Td = document.createElement("td");
              if(contractDTO==null) {
                btn2Td.innerHTML=`
                  <a href="/contract/new_contract?joNo=${joNo}">
                    <button type="button" class="btn btn-primary">계약서 등록</button>
                  </a>
                `;
              }
              if(contractDTO!=null) {
                btn2Td.innerHTML=`
                  <a href="/contract/download_contract?conNo=${contractDTO.conNo}">
                    <button type="button" class="btn btn-secondary">계약서 보기</button>
                  </a>
                `;
              }
              newRow.appendChild(btn2Td);

              secondTbody.appendChild(newRow);
            });

          }
        });

        page2++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems();
            }
          }
        });
        content2.addEventListener("scroll", function () {
          if(finPage2==false){
            const scrollTop = content2.scrollTop;
            const scrollHeight = content2.scrollHeight;
            const clientHeight = content2.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems2();
            }
          }
        });

        loadItems();
        loadItems2();
      });

    </script>

    <script>
      function deleteBtn(button){
        var joNo=button.value;

        var productName=document.getElementById('productName'+joNo).innerText;
        var materialCode=document.getElementById('materialCode'+joNo).innerText;
        var materialName=document.getElementById('materialName'+joNo).innerText;
        var num=document.getElementById('num'+joNo).innerText;
        var period=document.getElementById('period'+joNo).innerText;

        document.getElementById('deleteText').innerHTML=materialName+"(자재코드: "+materialCode+", 수량: "+num+", 기간: "+period+")의 조달계획을 삭제합니다.<br/>삭제시 복구가 불가능합니다.";
        document.getElementById('deleteBtn').value=joNo;
      }
      function deleteJodalChasu(button){
        var joNo=button.value;
        $.ajax({
          url:'/jodal/delete_jodalchasu',
          method:'GET',
          data:{joNo:joNo},
          success:function(response){
            window.location.reload();
          }
        });
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>