<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>제품 상세 보기</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">제품 관리 /</span> 제품 상세 보기</h4>
      <div class="card mb-4">
        <div class="card-body">
          <h5>제품 정보</h5>
          <label class="form-label">제품명</label>
          <input
                  class="form-control"
                  id="productName"
                  placeholder="등록할 제품 명"
                  th:value=${product.name}
                  readonly
          />
          <label class="form-label">첨부 파일</label>
          <button type="button" id="uploadBtn1" style="display:none;"></button>
          <button type="button" id="uploadBtn2" style="display:none;"></button>
          <div class="card shadow-none" style="min-height: 100px; border: 2px solid #e0e0e0;" id="fileList2">
            <table style="margin-left: 20px; margin-top: 5px;">
              <tbody id="fileTable2"></tbody>
              <tbody id="fileTable3"></tbody>
            </table>
          </div>
          <label class="form-label">제품정보</label>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>제품번호</th>
                <th>카테고리</th>
                <th>색상</th>
                <th>담당자</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="manuCode">[[${product.manuCode}]]</td>
                <td>[[${product.proSDTO.Sname}]]</td>
                <td>[[${product.color}]]</td>
                <td>[[${product.supervisor}]]</td>
              </tr>
            </tbody>
            <thead>
              <tr><th colspan="4">비고</th></tr>
            </thead>
            <tbody>
              <tr><td colspan="4">[[${product.text}]]</td></tr>
            </tbody>
          </table>
          <label class="form-label">미리보기</label>
          <div class="mb-4">
            <div style="background-color:#f0f0f0;">
              <ul id="previewList2"
                  style="list-style-type: none; padding: 10px; margin: 0; display: flex; justify-content: center; align-items:center;">
              </ul>
            </div>
            <hr class="m-0">
            <div id="preview2"
                 style="border: 1px solid #f0f0f0; padding: 10px; margin: 0;display: flex; justify-content: center; align-items: center; overflow-x: auto;">
              </div>
          </div>
          <div class="d-flex justify-content-between w-100">
            <a th:href="@{/production/list_manufacture}">
              <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
            </a>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5><strong>자재 정보</strong></h5>
          <table class="table table-bordered mb-4">
            <thead>
              <tr>
                <th>자재번호</th>
                <th>자재명</th>
                <th>카테고리</th>
                <th>제품 1개당 소요량</th>
              </tr>
            </thead>
            <tbody th:each="dto:${structures}">
              <td>[[${dto.materialDTO.materCode}]]</td>
              <td>[[${dto.materialDTO.name}]]</td>
              <td>[[${dto.materialDTO.materSDTO.materMDTO.materLDTO.lname}]]>
                  [[${dto.materialDTO.materSDTO.materMDTO.Mname}]]>
                  [[${dto.materialDTO.materSDTO.Sname}]]
              </td>
              <td>[[${dto.quantity}]]</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- / Content -->
    <!--Script-->
    <script src="../assets/js/file.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const manuCode=document.getElementById('manuCode').innerText;
        productFileList(manuCode);
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>