<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/partlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>반품 목록</title>
    <!--Style-->
    <style>
      #content1 {
        height: 700px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">반품 확인 /</span> 반품 목록</h4>
      <div class="card">
        <div class="table-responsive text-nowrap">
          <div class="card-body">
            <h5>반품 목록</h5>
            <div id="content1">
              <table class="table table-hover mb-4">
                <thead>
                  <tr>
                    <th>출고일자</th>
                    <th>반품 일자</th>
                    <th>제품</th>
                    <th>수량</th>
                    <th>내용</th>
                    <th>
                    <select class="form-select form-select-sm" style="width: fit-content;" id="selectedBox">
                      <option value="">모든상태</option>
                      <option value="0">확인미완료</option>
                      <option value="1">확인완료</option>
                    </select>
                  </th>
                  </tr>
                </thead>
                <tbody id="firstTbody"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->

    <!--Script-->
    <script src="../assets/js/partner-page.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems('returns');
            }
          }
        });

        loadItems('returns');
      });

      document.getElementById('selectedBox').addEventListener("change", function(){
        selectedBox=document.getElementById('selectedBox').value;
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        loadItems('returns');
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>