<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/partlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>제품 생산량 기록/출고</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="card mb-4">
        <input type="number" id="baljuNo" style="display:none;" th:value="${baljuDTO.baljuNo}">
        <div class="d-flex justify-content-between w-100">
          <div th:id="'materialSpace'+${baljuDTO.baljuNo}"></div>
          <div class="demo-inline-spacing">
            <div class="row" th:id="'btnSpace'+${baljuDTO.baljuNo}"></div>
          </div>
        </div>
        <hr class="m-0" />
        <div class="card-body">
          <span class="text-light fw-semibold">납기일</span>
          <div class="d-flex justify-content-between w-100" th:id="'dateLine'+${baljuDTO.baljuNo}">
            <span></span>
          </div>
          <div class="demo-vertical-spacing mb-4">
            <div class="row g-0" th:id="'dateProgress'+${baljuDTO.baljuNo}"></div>
          </div>
          <span class="text-light fw-semibold">납기량</span>
          <div class="d-flex justify-content-between w-100" th:id="'numberLine'+${baljuDTO.baljuNo}">
            <span></span>
          </div>
          <div class="demo-vertical-spacing mb-4">
            <div class="row g-0" th:id="'numberProgress'+${baljuDTO.baljuNo}"></div>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
              <tr>
                <th>총 주문수량</th>
                <th>현재 보유수량</th>
                <th>총 출고수량</th>
                <th>총 반품수량</th>
              </tr>
              <tr th:id="'productTable'+${baljuDTO.baljuNo}"></tr>
            </table>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <span class="text-light fw-semibold mb-4">생산량</span>
          <div class="row">
            <div class="col-md-11">
              <input type="number" class="form-control" placeholder="생산량 입력" aria-label="Recipient's username" aria-describedby="button-addon2" id="makeQuantity"/>
            </div>
            <button type="button" class="btn btn-outline-primary col-md-1" onclick="addQuantity()">등록</button>
          </div>
        </div>
        <hr class="m-0" />
        <div class="card-body" style="width: 100%;">
          <!-- Vertically Centered Modal -->
          <div class="col-lg-4 col-md-6" style="width: 100%;">
            <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#modalCenter"
            >
              출고하기
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCenterTitle">출고 완료 처리</h5>
          </div>
          <div class="modal-body">
            <label class="form-label">품목명</label>
            <input type="text" class="form-control" th:value="${baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name}" readonly/>
            <div class="row g-2">
              <div class="col mb-0">
                <label class="form-label">날짜</label>
                <input type="text" class="form-control"th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" readonly/>
              </div>
              <div class="col mb-0">
                <label class="form-label">보유수량</label>
                <input type="text" class="form-control" th:id="getNum" readonly/>
              </div>
            </div>
            <label class="form-label">출고량</label>
            <input type="number" id="shipNum" class="form-control" placeholder="출고량 입력"/>
            <label class="form-label">비고</label>
            <textarea class="form-control mb-4" rows="15" style="width: 100%;" id="shipText"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="release()">
              출고 완료
            </button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->
    <script src="../assets/js/partner-page.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        initPartnerProduct();
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>