<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/prolayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>출하 요청</title>
    <!--Style-->
    <style>
      #content1 {
        height: 350px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">생산부서 /</span> 출하 요청</h4>
      <div class="row">
        <div class="fullscreen-background">
          <div class="card mb-4">
            <div class="card-body">
              <input type="number" style="display:none;" id="preCode" value="">
              <h5>제품 정보</h5>
              <label class="form-label">제품명</label>
              <div class="row mb-2">
                <div class="col-md-6">
                  <input class="form-control" type="text" id="productName" readonly/>
                </div>
                <div class="col-md-6">
                  <button
                          type="button"
                          class="btn btn-outline-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#exLargeModal"
                  >
                    제품 선택
                  </button>
                </div>
              </div>
              <input class="form-control" type="number" id="productNo" style="display:none;" readonly/>
              <div>
                <label class="form-label">비고</label>
                <textarea class="form-control" id="requestText" rows="3"></textarea>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
              <h5>출하 요청 정보</h5>
              <input type="number" style="display:none;" id="proPlanNo">
              <div class="row mb-4">
                <label class="col-sm-1 col-form-label" for="product-quantity">출하라인 :</label>
                <div class="col-md-1">
                  <select class="form-select" style="width: 100%;" id="selectLine"></select>
                </div>
                <label class="col-sm-1 col-form-label" for="product-quantity">제품수량 :</label>
                <div class="col-sm-1" style="width: 150px;">
                  <div class="input-group input-group-merge">
                    <input type="number" id="product-quantity" class="form-control" />
                    <span class="input-group-text" id="product-quantity-unit">개</span>
                  </div>
                </div>
                <label class="col-sm-1 col-form-label" for="desired-date">희망일자 :</label>
                <div class="col-sm-1" style="width: 150px;">
                  <input type="date" id="desired-date" class="form-control" />
                </div>
                <button type="button" class="btn btn-outline-primary" style="width: fit-content;" onclick="autoBtn()">
                  자동입력
                </button>&nbsp;
              </div>
              <div class="table-responsive text-nowrap">
                <div id="content2">
                  <table class="table table-bordered mb-4">
                    <thead>
                      <th>자재번호</th>
                      <th>자재명</th>
                      <th>제품 1개당 소요수량</th>
                      <th>재고수량</th>
                      <th>출하요청수량</th>
                      <th>희망출하일자</th>
                    </thead>
                    <tbody id="secondTbody"></tbody>
                  </table>
                </div>
              </div>
              <div class="d-flex justify-content-between w-100">
                <a th:href="@{/proteam/list_request}">
                  <button type="reset" class="btn btn-outline-secondary">뒤로가기</button>
                </a>
                <button type="button" class="btn btn-primary" onclick="saveRequest()">출하 요청</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="exLargeModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title mb-4">제품 검색</h5>
            <div class="row mb-10 mb-2">
              <label class="form-label col-md-2" style="width: fit-content;">제품</label>
              <div class="col-md-10">
                <div class="row mb-2">
                  <div class="col-md-4">
                    <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="productSearch" style="height: 32px; font-size: 12px;" value="">
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn('request')">검색</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="m-0">
          <div class="modal-body" style="height: 350px;">
            <div id="content1">
              <table class="table table-hover">
                <thead>
                  <th>제품번호</th>
                  <th>제품명</th>
                  <th>예정일</th>
                  <th>예정수량</th>
                  <th></th>
                </thead>
                <tbody id="firstTbody"></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->
    <script src="../assets/js/new-request.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
            if(finPage==false){
                const scrollTop = content1.scrollTop;
                const scrollHeight = content1.scrollHeight;
                const clientHeight = content1.clientHeight;

                if (scrollTop + clientHeight >= scrollHeight - 10) {
                    loadItems('request');
                }
            }
        });

        loadItems('request');

        document.getElementById('product-quantity').addEventListener("input", function(){
          autoCount();
        });

      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>
