<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/prolayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>생산계획 리스트</title>
    <!--Style-->
    <style>
      #content1 {
        height: 300px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
      #content2 {
        height: 850px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">생산부서 /</span> 생산 계획 목록</h4>
      <!--추가해야 햘 목록-->
      <div class="card mb-4">
        <!--검색-->
        <div class="card-body">
          <h5>생산계획 수립 필요 제품</h5>
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <div id="content1" class="mb-4">
              <table class="table table-bordered mb-4">
                <thead>
                <tr>
                  <th>등록일자</th>
                  <th>제품번호</th>
                  <th>제품명</th>
                  <th>색상</th>
                  <th>생산계획 등록</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="firstTbody"></tbody>
              </table>
            </div>
            <div class="mt-3 text-end mb-4">
              <a th:href="@{/proteam/input_pro}">
                <button type="button" class="btn btn-primary">등록</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <!--검색-->
        <div class="card-body">
          <h5>생산계획 수립 완료 제품</h5>
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL2" onchange="updateProCode2('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM2" onchange="updateProCode2('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS2" onchange="updateProCode2('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch2" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn2()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    <!--/검색-->
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <div id="content2" class="mb-4">
              <table class="table table-bordered mb-4">
                <thead>
                  <tr>
                    <th>요청 일자</th>
                    <th>제품 번호</th>
                    <th>제품명</th>
                    <th>생산 기간</th>
                    <th>생산량</th>
                    <th>
                      <select class="form-select form-select-sm" style="width: fit-content;" id="proplanProgress2">
                        <option value="">전체 진행상태</option>
                        <option value="0">진행예정</option>
                        <option value="1">진행중</option>
                        <option value="2">완료</option>
                      </select>
                    </th>
                    <th>수정</th>
                  </tr>
                </thead>
                <tbody id="secondTbody"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
     <!--/ Bordered Table -->
    </div>

    <!--Modal-->
    <div
            class="modal fade"
            id="modalToggle"
            aria-labelledby="modalToggleLabel"
            tabindex="-1"
            style="display: none"
            aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">삭제하시겠습니까?</h5>
          </div>
          <div class="modal-body" id="deleteText"></div>
          <div class="modal-footer">
            <button
                    class="btn btn-primary"
                    data-bs-target="#modalToggle2"
                    data-bs-dismiss="modal"
                    id="deleteBtn"
                    onclick="deleteProPlan(this)"
            >
              삭제
            </button>
            <button
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
            >
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->
    <script>
      let page = 1;
      let finPage=false;
      let selectProL = null;
      let selectProM = null;
      let selectProS = null;
      let productSearch = null;

      let page2 = 1;
      let finPage2=false;
      let selectProL2 = null;
      let selectProM2 = null;
      let selectProS2 = null;
      let productSearch2 = null;
      let proplanProgress2 = null;

      function productSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectProL = (document.getElementById("selectProL").value!=null)?document.getElementById("selectProL").value:null;
        selectProM = (document.getElementById("selectProM").value!=null)?document.getElementById("selectProM").value:null;
        selectProS = (document.getElementById("selectProS").value!=null)?document.getElementById("selectProS").value:null;
        productSearch = (document.getElementById("productSearch").value!=null)?document.getElementById("productSearch").value:null;
        loadItems();
      }

      function productSearchBtn2(){
        page2 = 1;
        finPage2=false;
        document.getElementById("secondTbody").innerText='';
        selectProL2 = (document.getElementById("selectProL2").value!=null)?document.getElementById("selectProL2").value:null;
        selectProM2 = (document.getElementById("selectProM2").value!=null)?document.getElementById("selectProM2").value:null;
        selectProS2 = (document.getElementById("selectProS2").value!=null)?document.getElementById("selectProS2").value:null;
        productSearch2 = (document.getElementById("productSearch2").value!=null)?document.getElementById("productSearch2").value:null;
        loadItems2();
      }

      document.getElementById('proplanProgress2').addEventListener("change", function(){
        proplanProgress2=document.getElementById('proplanProgress2').value;
        page2 = 1;
        finPage2=false;
        document.getElementById("secondTbody").innerText='';
        loadItems2();
      });

      function loadItems() {
        const content1 = document.getElementById("content1");
        const firstTbody = document.getElementById("firstTbody");

        $.ajax({
          url:'/list/nonPlanProductList',
          method:'GET',
          data:{page:page, selectProL:selectProL, selectProM:selectProM, selectProS:selectProS, productSearch:productSearch},
          success:function(data){
            if(data.totalPage<page) finPage=true;

            data.dtoList.forEach(x=>{
              const regDate=x.regDate.split('T')[0];
              const manuCode=x.manuCode;
              const name=x.name;
              const color=x.color;

              const newRow = document.createElement("tr");

              [regDate, manuCode].forEach(text => {
                const item = document.createElement("td");
                item.textContent = text;
                newRow.appendChild(item);
              });

              const nameTd = document.createElement("td");
              nameTd.innerHTML = `<strong><a href="/development/detail_dev?manuCode=${manuCode}"> ${name}</a></strong>`;
              newRow.appendChild(nameTd);

              const colorTd = document.createElement("td");
              colorTd.textContent = color;
              newRow.appendChild(colorTd);

              const btnTd = document.createElement("td");
              btnTd.innerHTML=`
                <a href="/proteam/input_pro?manuCode=${manuCode}">
                  <button class="btn btn-primary">생산계획 등록</button>
                </a>
              `;
              newRow.appendChild(btnTd);

              firstTbody.appendChild(newRow);
            });
          }
        });

        page++;
      }

      function loadItems2() {
        const content2 = document.getElementById("content2");
        const secondTbody = document.getElementById("secondTbody");

        proplanProgress2=(document.getElementById("proplanProgress2").value!='')?document.getElementById("proplanProgress2").value:null;

        $.ajax({
          url:'/list/proPlanList',
          method:'GET',
          data:{page2:page2, selectProL2:selectProL2, selectProM2:selectProM2, selectProS2:selectProS2, productSearch2:productSearch2, proplanProgress2:proplanProgress2},
          success:function(data){
            if(data.totalPage<page2) finPage2=true;

            data.dtoList.forEach(x=>{
              const proplanNo=x.proplanDTO.proplanNo;
              const regDate=x.proplanDTO.regDate.split('T')[0];
              const manuCode=x.proplanDTO.productDTO.manuCode;
              const name=x.proplanDTO.productDTO.name;
              const startDate=x.proplanDTO.startDate.split('T')[0];
              const endDate=x.proplanDTO.endDate.split('T')[0];
              const proNum=x.proplanDTO.pronum;
              const conNum=x.contractNum;
              const jcNum=x.jcNum;

              const newRow = document.createElement("tr");

              const regDateTd = document.createElement("td");
              regDateTd.textContent = regDate;
              newRow.appendChild(regDateTd);

              const codeTd = document.createElement("td");
              codeTd.id='manuCode'+proplanNo;
              codeTd.textContent = manuCode;
              newRow.appendChild(codeTd);

              const nameTd = document.createElement("td");
              nameTd.id='manuName'+proplanNo;
              nameTd.innerHTML = `<strong><a href="/proteam/details_plan?proplanNo=${proplanNo}"> ${name}</a></strong>`;
              newRow.appendChild(nameTd);

              const periodTd = document.createElement("td");
              periodTd.id='period'+proplanNo;
              periodTd.textContent = startDate+"~"+endDate;
              newRow.appendChild(periodTd);

              const proNumTd = document.createElement("td");
              proNumTd.id='pronum'+proplanNo;
              proNumTd.textContent = proNum;
              newRow.appendChild(proNumTd);

              const progressTd = document.createElement("td");
              if(jcNum==0 && conNum==0) progressTd.textContent = '진행 예정';
              if(jcNum!=0 && conNum==0) progressTd.textContent = '조달계획 수립';
              if(conNum!=0) progressTd.textContent = '계약 체결';
              newRow.appendChild(progressTd);

              const btnTd = document.createElement("td");
              btnTd.innerHTML=`
                <a href="/proteam/modify_plan?proplanNo=${proplanNo}">
                  <button class="btn btn-primary">수정</button>
                </a>
                <button class="btn btn-secondary" data-bs-toggle="modal" href="#modalToggle" value="${proplanNo}" onclick="deleteBtn(this)">삭제</button>
              `;
              newRow.appendChild(btnTd);

              const conNumTd = document.createElement("td");
              conNumTd.style='display:none';
              conNumTd.id='contractCount'+proplanNo;
              conNumTd.textContent = conNum;
              newRow.appendChild(conNumTd);

              secondTbody.appendChild(newRow);
            });

          }
        });

        page2++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems();
            }
          }
        });
        content2.addEventListener("scroll", function () {
          if(finPage2==false){
            const scrollTop = content2.scrollTop;
            const scrollHeight = content2.scrollHeight;
            const clientHeight = content2.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems2();
            }
          }
        });

        loadItems();
        loadItems2();
      });

    </script>
    <script>
      function deleteBtn(button){
        var proplanNo=button.value;
        var manuCode=document.getElementById('manuCode'+proplanNo).innerText;
        var manuName=document.getElementById('manuName'+proplanNo).innerText;
        var period=document.getElementById('period'+proplanNo).innerText;
        var pronum=document.getElementById('pronum'+proplanNo).innerText;
        var contractCount=document.getElementById('contractCount'+proplanNo).innerText;

        if(contractCount==0){
          document.getElementById('deleteText').innerHTML=manuName+"("+manuCode+")"+"의 생산계획(생산량:"+pronum+", 생산기간: "+period+")을 <br/>삭제합니다.<br/>삭제시 복구가 불가능합니다.";
          document.getElementById('deleteBtn').value=proplanNo;
        }
        if(contractCount!=0){
          document.getElementById('deleteText').innerHTML=manuName+"("+manuCode+")"+"의 생산계획(생산량:"+pronum+", 생산기간: "+period+")의 <br/>계약이 체결되었습니다.<br/>삭제가 불가능합니다.";
        }

      }
      function deleteProPlan(button){
        var proplanNo=button.value;
        $.ajax({
          url:'/deleteProPlan',
          method:'GET',
          data:{proplanNo:proplanNo},
          success:function(response){
            window.location.reload();
          }
        });
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>