<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/prolayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>출하 요청 수정</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">생산부서 /</span> 출하 요청</h4>
      <div class="row">
        <div class="fullscreen-background">
          <div class="card mb-4">
            <div class="card-body">
              <input type="number" style="display:none;" id="preCode" th:value="${preRequestDTO.preReqCode}">
              <h5>제품 정보</h5>
              <label class="form-label">제품명</label>
              <div class="row mb-2">
                <div class="col-md-6">
                  <input class="form-control" type="text" id="productName" th:value="${preRequestDTO.proplanDTO.productDTO.name}" readonly/>
                </div>
              </div>
              <input class="form-control" type="number" id="productNo" style="display:none;" th:value="${preRequestDTO.proplanDTO.productDTO.manuCode}" readonly/>
              <div>
                <label class="form-label">비고</label>
                <textarea class="form-control" id="requestText" rows="3">[[${preRequestDTO.text}]]</textarea>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
              <h5>출하 요청 정보</h5>
              <input type="number" style="display:none;" id="proPlanNo">
              <div class="row mb-4">
                <label class="col-sm-1 col-form-label" for="product-quantity">출하라인 :</label>
                <div class="col-md-1">
                  <select class="form-select" style="width: 100%;" id="selectLine" disabled>
                    <option th:value="${preRequestDTO.lineDTO.lineCode}" selected>[[${preRequestDTO.lineDTO.lineName}]]</option>
                  </select>
                </div>
                <label class="col-sm-1 col-form-label" for="product-quantity">제품수량 :</label>
                <div class="col-sm-1" style="width: 150px;">
                  <div class="input-group input-group-merge">
                    <input type="number" id="product-quantity" class="form-control" />
                    <span class="input-group-text" id="product-quantity-unit">개</span>
                  </div>
                </div>
                <label class="col-sm-1 col-form-label" for="desired-date">희망일자 :</label>
                <div class="col-sm-1" style="width: 150px;">
                  <input type="date" id="desired-date" class="form-control" />
                </div>
                <button type="button" class="btn btn-outline-primary" style="width: fit-content;" onclick="autoBtn()">
                  자동입력
                </button>&nbsp;
              </div>
              <div class="table-responsive text-nowrap">
                <div id="content2">
                  <table class="table table-bordered mb-4">
                    <thead>
                      <th>자재번호</th>
                      <th>자재명</th>
                      <th>제품 1개당 소요수량</th>
                      <th>재고수량</th>
                      <th>출하요청수량</th>
                      <th>희망출하일자</th>
                    </thead>
                    <tbody id="secondTbody"></tbody>
                  </table>
                </div>
              </div>
              <div class="d-flex justify-content-between w-100">
                <a th:href="@{/proteam/list_request}">
                  <button type="reset" class="btn btn-outline-secondary">뒤로가기</button>
                </a>
                <div>
                  <span th:if="${preRequestDTO.allCheck==0}">
                    <button type="button" class="btn btn-primary" onclick="saveRequest()">출하요청 수정</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <!--/Modal-->
    <!--Script-->
    <script src="../assets/js/new-request.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        initRequest();
        document.getElementById('product-quantity').addEventListener("input", function(){
          autoCount();
        });
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>
