<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>거래명세서 확인</title>
    <!--Style-->
    <link rel="stylesheet" href="../assets/css/invoice.css" />
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">거래명세서 /</span> 거래명세서 확인</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- Bordered Table -->
            <div class="card">
              <div class="card-body">
                <div class="mb-4 text-end">
                  <button type="button" class="btn btn-primary" id="downloadBtn">발급하기</button>
                </div>
                <div class="table-responsive" style="padding-left: 20px;">
                  <div class="mb-4" id="downloadBody">
                    <div class="row row-box">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-1 box-r red-t red-b tc pd" style="writing-mode: vertical-lr; text-align: center;">공급자</div>
                          <div class="col-md-11">
                            <div class="row">
                              <div class="col-md-2 red-t tc pd">등록<br/>번호</div>
                              <div class="col-md-4 box-rl red-t pd" id="partnerRegister pd">[[${partner.registrationNumber}]]</div>
                              <div class="col-md-2 red-t tc pd">종사업자<br/>번호</div>
                              <div class="col-md-4 box-rl red-t pd"></div>
                            </div>
                            <div class="row box-tb">
                              <div class="col-md-2 tc pd">상호</div>
                              <div class="col-md-4 box-rl pd" id="partnerName">[[${partner.name}]]</div>
                              <div class="col-md-2 tc pd">성명</div>
                              <div class="col-md-4 box-rl pd" id="partnerCEO">[[${partner.ceo}]]</div>
                            </div>
                            <div class="row">
                              <div class="col-md-2 tc pd">사업장</div>
                              <div class="col-md-10 box-rl pd" id="partnerLocation">[[${partner.location}]]</div>
                            </div>
                            <div class="row box-tb">
                              <div class="col-md-2 tc pd">업태</div>
                              <div class="col-md-4 box-rl pd" id="partnerType">[[${partner.type}]]</div>
                              <div class="col-md-2 tc pd">종목</div>
                              <div class="col-md-4 box-rl pd" id="partnerSector">[[${partner.sector}]]</div>
                            </div>
                            <div class="row box-b">
                              <div class="col-md-2 tc pd">이메일</div>
                              <div class="col-md-10 box-rl pd">[[${invoice.email1}]]</div>
                            </div>
                            <div class="row">
                              <div class="col-md-2 red-b tc pd">이메일</div>
                              <div class="col-md-10 box-rl red-b pd">[[${invoice.email2}]]</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-1 box-r blue-t blue-b tc pd" style="writing-mode: vertical-lr; text-align: center;">공급받는자</div>
                          <div class="col-md-11">
                            <div class="row">
                              <div class="col-md-2 blue-t tc pd">등록<br/>번호</div>
                              <div class="col-md-4 box-rl blue-t pd">[[${company.registrationNumber}]]</div>
                              <div class="col-md-2 blue-t tc pd">종사업자<br/>번호</div>
                              <div class="col-md-4 box-l blue-t pd"></div>
                            </div>
                            <div class="row box-tb">
                              <div class="col-md-2 tc pd">상호</div>
                              <div class="col-md-4 box-rl pd">[[${company.name}]]</div>
                              <div class="col-md-2 tc pd">성명</div>
                              <div class="col-md-4 box-l pd">[[${company.ceo}]]</div>
                            </div>
                            <div class="row">
                              <div class="col-md-2 tc pd">사업장</div>
                              <div class="col-md-10 box-l pd">[[${company.location}]]</div>
                            </div>
                            <div class="row box-tb">
                              <div class="col-md-2 tc pd">업태</div>
                              <div class="col-md-4 box-rl pd">[[${company.type}]]</div>
                              <div class="col-md-2 tc pd">종목</div>
                              <div class="col-md-4 box-l pd">[[${company.sector}]]</div>
                            </div>
                            <div class="row box-b">
                              <div class="col-md-2 tc pd">이메일</div>
                              <div class="col-md-10 box-l pd">[[${company.email}]]</div>
                            </div>
                            <div class="row">
                              <div class="col-md-2 blue-b tc pd">이메일</div>
                              <div class="col-md-10 box-l blue-b pd">&nbsp;</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row row-box">
                      <div class="col-md-12 row">&nbsp;</div>
                    </div>
                    <div class="row row-box box-tb">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-2 tc pd">작성일자</div>
                          <div class="col-md-10 box-rl pd" id="regDate">[[${date}]]</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-2 tc pd">비고</div>
                          <div class="col-md-10 box-l pd">[[${invoice.text}]]</div>
                        </div>
                      </div>
                    </div>
                    <div class="row row-box">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-2 tc pd">합계금액</div>
                          <div class="col-md-7 box-rl pd" id="totalSum"></div>
                          <div class="col-md-3 tc pd">공급가액</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-7 box-rl pd" id="totalSupply"></div>
                          <div class="col-md-2 box-r tc pd">세액</div>
                          <div class="col-md-3 pd" id="totalTax"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row row-box box-tb">
                      <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row row-box tc">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-1 pd">월</div>
                          <div class="col-md-1 box-rl pd">일</div>
                          <div class="col-md-7 pd">품목</div>
                          <div class="col-md-3 box-rl pd">규격</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-2 pd">수량</div>
                          <div class="col-md-2 box-rl pd">단가</div>
                          <div class="col-md-3 pd">공급가액</div>
                          <div class="col-md-2 box-rl pd">세액</div>
                          <div class="col-md-3 pd">비고</div>
                        </div>
                      </div>
                    </div>
                    <div class="row row-box box-t">
                      <div class="col-md-12">
                        <span th:each="shipment:${shipmentList}">
                          <div class="row box-b">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-1 pd">[[${#temporals.format(shipment.receipt, 'MM')}]]</div>
                                <div class="col-md-1 box-rl pd">[[${#temporals.format(shipment.receipt, 'dd')}]]</div>
                                <div class="col-md-7 pd">[[${shipment.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name}]]</div>
                                <div class="col-md-3 box-rl pd">[[${shipment.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.standard}]]</div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-2 pd">[[${shipment.shipNum}]]</div>
                                <div class="col-md-2 box-rl pd">[[${shipment.baljuDTO.contractDTO.money}]]</div>
                                <div class="col-md-3 pd" th:id="'presupplyValue'+${shipment.shipNO}">[[${shipment.shipNum * shipment.baljuDTO.contractDTO.money}]]</div>
                                <div class="col-md-2 box-rl pd" th:id="'pretax'+${shipment.shipNO}">[[${#numbers.formatInteger(shipment.shipNum * shipment.baljuDTO.contractDTO.money * 0.1, 1)}]]</div>
                                <div class="col-md-3 pd">[[${shipment.bGo}]]</div>
                              </div>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="row row-box">
                      <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row row-box box-tb">
                      <div class="col-md-3">
                        <div class="row">
                          <div class="box-b tc pd">현금</div>
                        </div>
                        <div class="row">
                          <div class="pd">[[${invoice.cash}]]</div>
                        </div>
                      </div>
                      <div class="col-md-3 box-rl">
                        <div class="row ">
                          <div class="box-b tc pd">수표</div>
                        </div>
                        <div class="row">
                          <div class="pd">[[${invoice.cheque}]]</div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="row">
                          <div class="box-b tc pd">어음</div>
                        </div>
                        <div class="row">
                          <div class="pd">[[${invoice.promissory}]]</div>
                        </div>
                      </div>
                      <div class="col-md-2 box-rl">
                        <div class="row">
                          <div class="box-b tc pd">외상미수금</div>
                        </div>
                        <div class="row">
                          <div class="pd">[[${invoice.receivable}]]</div>
                        </div>
                      </div>
                      <div class="col-md-2 box tc pd">
                        <input type="radio" name="type" value="영수" class="mb-2" th:checked="${invoice.plz == '영수'}" disabled>영수<br/>
                        <input type="radio" name="type" value="청구" th:checked="${invoice.plz == '청구'}" disabled>청구
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between w-100">
                  <a th:href="@{/invoice/list_invoice}">
                    <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
                  </a>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!--/Modal-->

    <!--Script-->
    <script>
    document.addEventListener("DOMContentLoaded", function () {
      const allSupplyValue=document.querySelectorAll('[id^="presupplyValue"]');
      let totalSupplyValue=0;
      allSupplyValue.forEach(x => {
          const SupplyValue=parseFloat(x.innerText)||0;
          totalSupplyValue+=SupplyValue;
      });
      const allTax=document.querySelectorAll('[id^="pretax"]');
          let totalTax=0;
          allTax.forEach(x => {
              const tax=parseFloat(x.innerText)||0;
          totalTax+=tax;
      });
      let totalSum=totalSupplyValue+totalTax;

      document.getElementById('totalSum').innerText=totalSum;
      document.getElementById('totalSupply').innerText=totalSupplyValue;
      document.getElementById('totalTax').innerText=totalTax;
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script>
      document.getElementById("downloadBtn").addEventListener("click", () => {
        const element = document.getElementById("downloadBody");
        element.style.padding = '30px';

        const partnerName=document.getElementById('partnerName').innerText;
        const regDate=document.getElementById('regDate').innerText;

        const options = {
          margin: [20, 20, 0, 20],
          filename: regDate+'_'+partnerName+'_거래명세서.pdf',
          image: { type: 'jpeg', quality: 1 },
          html2canvas:  { dpi: 600, letterRendering: true, width: 1560},
          jsPDF: { unit: 'mm', format: 'a4', orientation: 'landscape'}
        };

        html2pdf()
          .from(element)
          .set(options)
          .save();
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>