<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>거래명세서 목록</title>
    <!--Style-->
    <style>
      #content1 {
        height: 750px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
      #content2 {
        height: 400px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">거래명세서 /</span> 거래명세서 목록</h4>
      <!--추가-->
      <!-- Card -->
      <div class="card mb-4">
        <!--검색-->
        <div class="card-body">
          <h5>거래명세서 발행 가능한 입고 완료 목록</h5>
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">협력회사</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartL" onchange="updatePartCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartM" onchange="updatePartCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartS" onchange="updatePartCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="partnerSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="partnerSearchBtn()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">자재</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterL" onchange="updateMaterCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterM" onchange="updateMaterCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterS" onchange="updateMaterCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="materialSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="materialSearchBtn()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <div id="content1">
              <table class="table table-bordered mb-4">
                <thead>
                  <tr>
                    <th>입고일</th>
                    <th>제품명</th>
                    <th>자재 번호</th>
                    <th>자재명</th>
                    <th>입고수량</th>
                    <th>업체</th>
                    <th>거래명세서 발행</th>
                  </tr>
                </thead>
                <tbody id="firstTbody"></tbody>
              </table>
            </div>
            <div class="mt-3 text-end mb-4">
              <a th:href="@{/invoice/add_invoice}">
                <button type="button" class="btn btn-primary">거래명세서 발행</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--/ Card -->
      <!--/추가-->
      <!-- Hoverable Table rows -->
      <div class="card">
        <!--검색-->
        <div class="card-body">
          <h5>거래명세서 발행 완료 목록</h5>
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">협력회사</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartL2" onchange="updatePartCode2('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartM2" onchange="updatePartCode2('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartS2" onchange="updatePartCode2('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="partnerSearch2" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="partnerSearchBtn2()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL2" onchange="updateProCode2('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM2" onchange="updateProCode2('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS2" onchange="updateProCode2('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch2" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn2()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">자재</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterL2" onchange="updateMaterCode2('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterM2" onchange="updateMaterCode2('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterS2" onchange="updateMaterCode2('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="materialSearch2" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="materialSearchBtn2()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <div id="content2" class="mb-4">
              <table class="table table-hover mb-4">
                <thead>
                  <tr>
                    <th></th>
                    <th>협력업체명</th>
                    <th>발행일</th>
                    <th>금액</th>
                    <th>비고</th>
                    <th>거래명세서 확인</th>
                    <th>수정/삭제</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="secondTbody"></tbody>
              </table>
            </div>
            <!-- Modal Backdrop -->
          </div>
        </div>
      </div>
      <!--/ Bootstrap modals -->
    </div>

    <!--Modal-->
    <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel"
         tabindex="-1" style="display: none" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">삭제하시겠습니까?</h5>
          </div>
          <div class="modal-body" id="deleteText"></div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalToggle2" data-bs-dismiss="modal"
                    id="deleteBtn" onclick="deleteInvoice(this)">
              삭제
            </button>
            <button class="btn btn-primary" data-bs-dismiss="modal">
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->
    <!--Script-->
    <script>
      let page = 1;
      let finPage=false;
      let selectPartL = null;
      let selectPartM = null;
      let selectPartS = null;
      let partnerSearch = null;
      let selectProL = null;
      let selectProM = null;
      let selectProS = null;
      let productSearch = null;
      let selectMaterL = null;
      let selectMaterM = null;
      let selectMaterS = null;
      let materialSearch = null;

      let page2 = 1;
      let finPage2=false;
      let selectPartL2 = null;
      let selectPartM2 = null;
      let selectPartS2 = null;
      let partnerSearch2 = null;
      let selectProL2 = null;
      let selectProM2 = null;
      let selectProS2 = null;
      let productSearch2 = null;
      let selectMaterL2 = null;
      let selectMaterM2 = null;
      let selectMaterS2 = null;
      let materialSearch2 = null;

      function partnerSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectPartL = (document.getElementById("selectPartL").value!=null)?document.getElementById("selectPartL").value:null;
        selectPartM = (document.getElementById("selectPartM").value!=null)?document.getElementById("selectPartM").value:null;
        selectPartS = (document.getElementById("selectPartS").value!=null)?document.getElementById("selectPartS").value:null;
        partnerSearch = (document.getElementById("partnerSearch").value!=null)?document.getElementById("partnerSearch").value:null;
        loadItems();
      }
      function partnerSearchBtn2(){
        page2 = 1;
        finPage2=false;
        document.getElementById("secondTbody").innerText='';
        selectPartL2 = (document.getElementById("selectPartL2").value!=null)?document.getElementById("selectPartL2").value:null;
        selectPartM2 = (document.getElementById("selectPartM2").value!=null)?document.getElementById("selectPartM2").value:null;
        selectPartS2 = (document.getElementById("selectPartS2").value!=null)?document.getElementById("selectPartS2").value:null;
        partnerSearch2 = (document.getElementById("partnerSearch2").value!=null)?document.getElementById("partnerSearch2").value:null;
        loadItems2();
      }

      function productSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectProL = (document.getElementById("selectProL").value!=null)?document.getElementById("selectProL").value:null;
        selectProM = (document.getElementById("selectProM").value!=null)?document.getElementById("selectProM").value:null;
        selectProS = (document.getElementById("selectProS").value!=null)?document.getElementById("selectProS").value:null;
        productSearch = (document.getElementById("productSearch").value!=null)?document.getElementById("productSearch").value:null;
        loadItems();
      }
      function materialSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectMaterL = (document.getElementById("selectMaterL").value!=null)?document.getElementById("selectMaterL").value:null;
        selectMaterM = (document.getElementById("selectMaterM").value!=null)?document.getElementById("selectMaterM").value:null;
        selectMaterS = (document.getElementById("selectMaterS").value!=null)?document.getElementById("selectMaterS").value:null;
        materialSearch = (document.getElementById("materialSearch").value!=null)?document.getElementById("materialSearch").value:null;
        loadItems();
      }

      function productSearchBtn2(){
        page2 = 1;
        finPage2=false;
        document.getElementById("secondTbody").innerText='';
        selectProL2 = (document.getElementById("selectProL2").value!=null)?document.getElementById("selectProL2").value:null;
        selectProM2 = (document.getElementById("selectProM2").value!=null)?document.getElementById("selectProM2").value:null;
        selectProS2 = (document.getElementById("selectProS2").value!=null)?document.getElementById("selectProS2").value:null;
        productSearch2 = (document.getElementById("productSearch2").value!=null)?document.getElementById("productSearch2").value:null;
        loadItems2();
      }
      function materialSearchBtn2(){
        page2 = 1;
        finPage2=false;
        document.getElementById("secondTbody").innerText='';
        selectMaterL2 = (document.getElementById("selectMaterL2").value!=null)?document.getElementById("selectMaterL2").value:null;
        selectMaterM2 = (document.getElementById("selectMaterM2").value!=null)?document.getElementById("selectMaterM2").value:null;
        selectMaterS2 = (document.getElementById("selectMaterS2").value!=null)?document.getElementById("selectMaterS2").value:null;
        materialSearch2 = (document.getElementById("materialSearch2").value!=null)?document.getElementById("materialSearch2").value:null;
        loadItems2();
      }

      function loadItems() {
        const content1 = document.getElementById("content1");
        const firstTbody = document.getElementById("firstTbody");

        $.ajax({
          url:'/list/nonInvoiceShipment',
          method:'GET',
          data:{page:page, selectPartL:selectPartL, selectPartM:selectPartM, selectPartS:selectPartS, partnerSearch:partnerSearch,
                selectProL:selectProL, selectProM:selectProM, selectProS:selectProS, productSearch:productSearch,
                selectMaterL:selectMaterL, selectMaterM:selectMaterM, selectMaterS:selectMaterS, materialSearch:materialSearch},
          success:function(data){
            if(data.totalPage<page) finPage=true;

            data.dtoList.forEach(x=>{
              const shipNO=x.shipNO;
              const receipt=x.receipt.split('T')[0];
              const productName=x.baljuDTO.contractDTO.jodalPlanDTO.proplanDTO.productDTO.name;
              const materCode=x.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.materCode;
              const materialName=x.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name;
              const shipNum=x.shipNum;
              const partnerName=x.baljuDTO.contractDTO.partnerDTO.name;

              const newRow = document.createElement("tr");

              [receipt, productName, materCode, materialName, shipNum, partnerName].forEach(text => {
                const item = document.createElement("td");
                item.textContent = text;
                newRow.appendChild(item);
              });

              const btnTd = document.createElement("td");
              btnTd.innerHTML=`
                <a href="/invoice/add_invoice?shipNO=${shipNO}">
                  <button type="button" class="btn btn-primary">거래명세서 발행</button>
                </a>
              `;
              newRow.appendChild(btnTd);

              firstTbody.appendChild(newRow);
            });
          }
        });

        page++;
      }

      function loadItems2() {
        const content2 = document.getElementById("content2");
        const secondTbody = document.getElementById("secondTbody");

        $.ajax({
          url:'/list/yesInvoiceShipment',
          method:'GET',
          data:{page2:page2, selectPartL2:selectPartL2, selectPartM2:selectPartM2, selectPartS2:selectPartS2, partnerSearch2:partnerSearch2,
                selectProL2:selectProL2, selectProM2:selectProM2, selectProS2:selectProS2, productSearch2:productSearch2,
                selectMaterL2:selectMaterL2, selectMaterM2:selectMaterM2, selectMaterS2:selectMaterS2, materialSearch2:materialSearch2},
          success:function(data){
            if(data.totalPage<page2) finPage2=true;

            data.dtoList.forEach(x=>{
              const tranNO=x.invoiceDTO.tranNO;
              const partnerName=x.partnerDTO.name;
              const regDate=x.invoiceDTO.dateCreated.split('T')[0];
              const cash=x.invoiceDTO.cash;
              const tempText=x.invoiceDTO.text;
              const invoiceText=(tempText!=null)?tempText.substring(0,10):null;

              const newRow = document.createElement("tr");

              const tranNOTd = document.createElement("td");
              tranNOTd.textContent = tranNO;
              newRow.appendChild(tranNOTd);

              const partnerTd = document.createElement("td");
              partnerTd.id = 'partnerName'+tranNO;
              partnerTd.textContent = partnerName;
              newRow.appendChild(partnerTd);

              const dateTd = document.createElement("td");
              dateTd.id = 'regDate'+tranNO;
              dateTd.textContent = regDate;
              newRow.appendChild(dateTd);

              const cashTd = document.createElement("td");
              cashTd.textContent = cash;
              newRow.appendChild(cashTd);

              const textTd = document.createElement("td");
              textTd.textContent = invoiceText;
              newRow.appendChild(textTd);

              const btnTd = document.createElement("td");
              btnTd.innerHTML=`
                <a href="/invoice/invoice?tranNO=${tranNO}">
                  <button class="btn btn-primary">거래명세서 확인</button>
                </a>
              `;
              newRow.appendChild(btnTd);

              const btn1Td = document.createElement("td");
              btn1Td.innerHTML=`
                <a href="/invoice/modify_invoice?tranNO=${tranNO}">
                  <button class="btn btn-primary">수정</button>
                </a>
                <button class="btn btn-secondary" data-bs-toggle="modal" href="#modalToggle" value="${tranNO}" onclick="deleteBtn(this)">삭제</button>
              `;
              newRow.appendChild(btn1Td);

              secondTbody.appendChild(newRow);
            });

          }
        });

        page2++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems();
            }
          }
        });
        content2.addEventListener("scroll", function () {
          if(finPage2==false){
            const scrollTop = content2.scrollTop;
            const scrollHeight = content2.scrollHeight;
            const clientHeight = content2.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems2();
            }
          }
        });

        loadItems();
        loadItems2();
      });
    </script>
    <script>
      function deleteBtn(button){
        var tranNO=button.value;

        const partnerName=document.getElementById('partnerName'+tranNO).innerText;
        const regDate=document.getElementById('regDate'+tranNO).innerText;

        document.getElementById('deleteText').innerHTML=regDate+"("+partnerName+")에 발행한 거래명세서를 삭제합니다.<br/>삭제시 복구가 불가능합니다.";
        document.getElementById('deleteBtn').value=tranNO;
      }
      function deleteInvoice(button){
        var tranNO=button.value;
        $.ajax({
          url:'/deleteInvoice',
          method:'GET',
          data:{tranNO:tranNO},
          success:function(response){
            window.location.reload();
          }
        });
      }
    </script>

    <!--Script-->
  </span>

</th:block>
</html>