<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>직원 메인화면</title>
    <!--Style-->
    <style>
      .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0,0.4);
          padding-top: 60px;
      }
      .modal-content {
          background-color: #fefefe;
          margin: 5% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
      }
      .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }
      .close:hover,
      .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
      }
      .button-container {
          display: flex;
          justify-content: space-around;
          margin-top: 20px;
      }
      #content1 {
        height: 350px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row">
        <!-- First column -->
        <div class="col-lg-3 mb-4">
          <!-- Card 1 -->
          <div class="card h-100">
            <div class="card-body text-center">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="dropdown">
                  <!-- Dropdown content here -->
                </div>
              </div>
              <i class="menu-icon tf-icons bx bx-cube-alt"></i>
              <h3 class="card-title text-nowrap mb-1">
                <a th:href="@{/production/list_newProduct}">신규 제품 자재</a>
              </h3>
              <span class="fw-semibold d-block mb-1">확인 필요</span>
              <small class="text-success fw-semibold" style="font-size: 2.2em;"><i class="bx bx-up-arrow-alt"></i> [[${newProductCount}]]</small>
            </div>
          </div>
        </div>
        <!-- Second column -->
        <div class="col-lg-3 mb-4">
          <!-- Card 2 -->
          <div class="card h-100">
            <div class="card-body text-center">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="dropdown">
                  <!-- Dropdown content here -->
                </div>
              </div>
              <i class="menu-icon tf-icons bx bx-cube-alt"></i>
              <h3 class="card-title text-nowrap mb-1">
                <a th:href="@{/jodal/list_jodal}">신규 조달 계획</a>
              </h3>
              <span class="fw-semibold d-block mb-1">등록 필요</span>
              <small class="text-success fw-semibold" style="font-size: 2.2em;"><i class="bx bx-up-arrow-alt"></i> [[${newNoneChasu}]]</small>
            </div>
          </div>
        </div>
        <!-- Fourth column -->
        <div class="col-lg-3 mb-4">
          <!-- Card 4 -->
          <div class="card h-100">
            <div class="card-body text-center">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="dropdown">
                  <!-- Dropdown content here -->
                </div>
              </div>
              <i class="bx bx-buildings"></i>
              <h3 class="card-title text-nowrap mb-1">
                <a th:href="@{/goodshandling/list_received}">신규 입고</a>
              </h3>
              <span class="fw-semibold d-block mb-1">확인 필요</span>
              <small class="text-success fw-semibold" style="font-size: 2.2em;"><i class="bx bx-up-arrow-alt"></i> [[${newShipment}]]</small>
            </div>
          </div>
        </div>
        <!-- Third column -->
        <div class="col-lg-3 mb-4">
          <!-- Card 3 -->
          <div class="card h-100">
            <div class="card-body text-center">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="dropdown">
                  <!-- Dropdown content here -->
                </div>
              </div>
              <i class="menu-icon tf-icons bx bx-cube-alt"></i>
              <h3 class="card-title text-nowrap mb-1">
                <a th:href="@{/goodshandling/list_request}">신규 출하</a>
              </h3>
              <span class="fw-semibold d-block mb-1">확인 필요</span>
              <small class="text-success fw-semibold" style="font-size: 2.2em;"><i class="bx bx-up-arrow-alt"></i> [[${newRequest}]]</small>
            </div>
          </div>
          <!--/Card-->
        </div>
      </div>
      <!-- first row end -->
      <!-- Total Revenue -->
      <div class="row justify-content-center">
        <!-- Existing Card -->
        <div class="col-lg-12 col-md-6 mb-4">
          <!-- Card 5 -->
          <div class="card" style="height: 446px;">
            <div class="card-body">
              <div class="mb-2"><strong>입고 관리</strong></div>
                <div class="table-responsive text-nowrap">
                  <div id="content1">
                    <table class="table table-bordered mb-2">
                      <thead>
                        <tr>
                          <th>
                            <select class="form-select form-select-sm" style="width: fit-content;" id="baljuProductName">
                              <option value="">전체 제품</option>
                              <option th:each="list:${baljuProductList}" th:value="${list.manuCode}">[[${list.name}]]</option>
                            </select>
                          </th>
                          <th>자재번호</th>
                          <th>자재명</th>
                          <th>협력 업체</th>
                          <th>협력 업체에서 보낸 수량</th>
                          <th>확인</th>
                        </tr>
                      </thead>
                      <tbody class="table-border-bottom-0" id="firstTbody"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/Card-->
        </div>
        <div class="col-lg-12 col-md-6 mb-4">
          <!-- Card 6 -->
          <div class="card" style="height: 900px;">
            <div class="card-body">
              <div class="mb-2"><strong>일정 확인</strong></div>
              <h5 class="text-center">
                <span style="color:tomato;">■ 출하요청일(<span style="color:pink;">■ 완료</span>)</span>&nbsp;&nbsp;&nbsp;
                <span style="color:cornflowerblue;">■ 입고예정일(<span style="color:lightblue;">■ 완료</span>)</span>
              </h5>
              <div id='calendar'></div>
            </div>
          </div>
          <!--/Card-->
        </div>
      </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="modalCenter2" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">수령확인</h5>
          </div>
          <div class="modal-body">
            <div class="col mb-3 text-center" id="receiveText"></div>
          </div>
          <div class="modal-footer">
            <input style="display:none;" id="receiveNo">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              취소
            </button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveReceiveShipment(3)">수령확인</button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src="../assets/js/new-return-request.js"></script>
    <script>
      let page = 1;
      let finPage=false;
      let baljuProductName = null;

      let page2 = 1;
      let finPage2=false;

      document.getElementById('baljuProductName').addEventListener("change", function(){
        baljuProductName=document.getElementById('baljuProductName').value;
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        loadItems();
      });

      function loadItems() {
        const content1 = document.getElementById("content1");
        const firstTbody = document.getElementById("firstTbody");

        baljuProductName=(document.getElementById("baljuProductName").value!='')?document.getElementById("baljuProductName").value:null;

        $.ajax({
          url:'/list/nonReciveShipment',
          method:'GET',
          data:{page:page, baljuProductName:baljuProductName},
          success:function(data){
            if(data.totalPage<page) finPage=true;

            data.dtoList.forEach(x=>{
              const productName=x.shipmentDTO.baljuDTO.contractDTO.jodalPlanDTO.proplanDTO.productDTO.name;
              const materCode=x.shipmentDTO.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.materCode;
              const materialName=x.shipmentDTO.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name;
              const partnerName=x.shipmentDTO.baljuDTO.contractDTO.partnerDTO.name;
              const shipNum=x.shipmentDTO.shipNum;
              const shipNO=x.shipmentDTO.shipNO;

              const newRow = document.createElement("tr");

              [productName, materCode, materialName, partnerName, shipNum].forEach(text => {
                const item = document.createElement("td");
                item.textContent = text;
                newRow.appendChild(item);
              });

              const btnTd = document.createElement("td");
              btnTd.innerHTML=`
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter2" shipNum="${shipNum}" shipNo="${shipNO}" onclick="receivebutton(this)">
                  수령
                </button>
              `;
              newRow.appendChild(btnTd);

              firstTbody.appendChild(newRow);
            });
          }
        });
        page++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems();
            }
          }
        });

        loadItems();

        var calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
          dayMaxEvents: 3,
          height:780,
          contentHeight:100,
          initialView: 'dayGridMonth',
          selectable: true,
          events: loadEvents
        });
        calendar.render();

      });
    </script>
    <script>
      function loadEvents(fetchInfo, successCallback, failureCallback) {
        $.ajax({
            url: '/list/getCalendar',
            method: 'GET',
            success: function(data) {
                const events = data.map(item => ({
                    title: item.title,
                    start: new Date(item.endDate),
                    end: new Date(item.endDate),
                    allDay: true,
                    url: item.url,
                    borderColor: 'transparent',
                    backgroundColor: (item.color===0)?'pink':(item.color===1)?'tomato':(item.color===2)?'cornflowerblue':'lightblue'
                }));
                successCallback(events);
            },
            error: function(error) {
                console.error('일정 불러오기 오류:', error);
                failureCallback(error);
            }
        });
      }
    </script>
    <script>
      function receivebutton(button){
        var shipNum=button.getAttribute('shipNum');
        var shipNo=button.getAttribute('shipNo');
        document.getElementById('receiveText').innerHTML="협력회사에서 보낸 수량은 "+shipNum+"개 입니다.<br/>수령확정시 '수령확인'버튼을 누르세요.";
        document.getElementById('receiveNo').value=shipNo;
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>