<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>자재 관리/ 자재 목록</title>

    <!--Style-->
    <style>
      #content1 {
        height: 700px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">자재 관리 /</span> 자재 목록</h4>
      <div class="card">
        <!--검색-->
        <div class="card-body">
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">자재</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" name="materL" id="selectMaterL" onchange="updateMaterCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" name="materM" id="selectMaterM" onchange="updateMaterCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" name="materS" id="selectMaterS" onchange="updateMaterCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="materialSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="materialSearchBtn()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <div id="content1">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>자재번호</th>
                    <th>자재명</th>
                    <th>카테고리</th>
                    <th>규격</th>
                    <th>단위</th>
                    <th>색상</th>
                    <th>
                      <select class="form-select form-select-sm" style="width: fit-content;" id="selectedBox">
                        <option value="">전체보기</option>
                        <option th:each="box:${box_list}" th:value="${box.boxcode}">[[${box.boxname}]]</option>
                      </select>
                    </th>
                    <th>수정/삭제</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="firstTbody"></tbody>
              </table>
            </div>
            <div class="mt-3 text-end mb-4">
              <a th:href="@{/material/new_material}">
                <button type="button" class="btn btn-primary">등록</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Modal-->
    <div
            class="modal fade"
            id="modalToggle"
            aria-labelledby="modalToggleLabel"
            tabindex="-1"
            style="display: none"
            aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">삭제하시겠습니까?</h5>
          </div>
          <div class="modal-body" id="deleteText"></div>
          <div class="modal-footer">
            <button
                    class="btn btn-primary"
                    data-bs-target="#modalToggle2"
                    data-bs-dismiss="modal"
                    id="deleteBtn"
                    onclick="deleteMaterial(this)"
            >
              삭제
            </button>
            <button
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
            >
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->
    <script>
      let page = 1;
      let finPage=false;

      let selectProL = null;
      let selectProM = null;
      let selectProS = null;
      let productSearch = null;
      let selectedBox = null;
      let selectMaterL = null;
      let selectMaterM = null;
      let selectMaterS = null;
      let materialSearch = null;

      function productSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectProL = (document.getElementById("selectProL").value!=null)?document.getElementById("selectProL").value:null;
        selectProM = (document.getElementById("selectProM").value!=null)?document.getElementById("selectProM").value:null;
        selectProS = (document.getElementById("selectProS").value!=null)?document.getElementById("selectProS").value:null;
        productSearch = (document.getElementById("productSearch").value!=null)?document.getElementById("productSearch").value:null;
        loadItems();
      }

      function materialSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectMaterL = (document.getElementById("selectMaterL").value!=null)?document.getElementById("selectMaterL").value:null;
        selectMaterM = (document.getElementById("selectMaterM").value!=null)?document.getElementById("selectMaterM").value:null;
        selectMaterS = (document.getElementById("selectMaterS").value!=null)?document.getElementById("selectMaterS").value:null;
        materialSearch = (document.getElementById("materialSearch").value!=null)?document.getElementById("materialSearch").value:null;
        loadItems();
      }

      document.getElementById('selectedBox').addEventListener("change", function(){
        selectedBox=document.getElementById('selectedBox').value;
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        loadItems();
      });

      function loadItems() {
        const content1 = document.getElementById("content1");
        const firstTbody = document.getElementById("firstTbody");

        selectedBox = (document.getElementById("selectedBox").value!='')?document.getElementById("selectedBox").value:null;

        $.ajax({
          url:'/list/materialList',
          method:'GET',
          data:{page:page, selectProL:selectProL, selectProM:selectProM, selectProS:selectProS, productSearch:productSearch, selectedBox:selectedBox,
                selectMaterL:selectMaterL, selectMaterM:selectMaterM, selectMaterS:selectMaterS, materialSearch:materialSearch},
          success:function(data){
            if(data.totalPage<page) finPage=true;

            data.dtoList.forEach(x=>{
              const materCode=x.materCode;
              const name=x.name;
              const sname=x.materSDTO.sname;
              const standard=x.standard;
              const unit=x.unit;
              const color=x.color;
              const boxname=x.boxDTO.boxname;

              const newRow = document.createElement("tr");

              const codeTd=document.createElement("td");
              codeTd.textContent=materCode;
              newRow.appendChild(codeTd);

              const nameTd = document.createElement("td");
              nameTd.id='materialName'+materCode;
              nameTd.innerHTML = `<strong><a href="/material/material?materCode=${materCode}"> ${name}</a></strong>`;
              newRow.appendChild(nameTd);

              [sname, standard, unit, color, boxname].forEach(text => {
                const item = document.createElement("td");
                item.textContent = text;
                newRow.appendChild(item);
              });

              const btnTd = document.createElement("td");
              btnTd.innerHTML=`
                <a href="/material/modify_material?materCode=${materCode}">
                  <button class="btn btn-primary">수정</button>
                </a>
                <button class="btn btn-secondary" data-bs-toggle="modal" href="#modalToggle" value="${materCode}" onclick="deleteBtn(this)">삭제</button>
              `;
              newRow.appendChild(btnTd);

              firstTbody.appendChild(newRow);
            });
          }
        });

        page++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems();
            }
          }
        });

        loadItems();
      });
    </script>

    <script>
      function deleteBtn(button){
        var materCode=button.value;
        var materialName=document.getElementById('materialName'+materCode).innerText;
        document.getElementById('deleteText').innerHTML=materCode+" "+materialName+"를 삭제합니다.<br/>삭제시 복구가 불가능합니다.";
        document.getElementById('deleteBtn').value=materCode;
      }
      function deleteMaterial(button){
        var materCode=button.value;
        $.ajax({
          url:'/deleteMaterial',
          method:'GET',
          data:{materCode:materCode},
          success:function(response){
            page = 1;
            finPage=false;
            document.getElementById("firstTbody").innerText='';
            loadItems();
          },
          error:function(){
            alert("삭제가 불가능합니다. 참조하고 있는 제품이 존재합니다.");
          }
        });
      }
    </script>
    <!--Script-->

  </span>

</th:block>
</html>