<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>자재 상세 보기</title>
      <!--Style-->

      <!--/Style-->
  </span>

  <span id="content">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">자재 관리 /</span> 자재 상세 보기</h4>
      <!-- Hoverable Table rows -->
      <div class="card">
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <label class="form-label">자재명</label>
            <input type="text" class="form-control" th:value="${material.name}" readonly>
            <label class="form-label">첨부 파일</label>
            <button id="uploadBtn1" style="display:none;"></button>
            <button id="uploadBtn2" style="display:none;"></button>
            <div class="card shadow-none mb-3" style="min-height: 100px; border: 2px solid #e0e0e0;" id="fileList1">
              <table style="margin-left: 20px; margin-top: 5px;">
                <tbody id="fileTable0"></tbody>
                <tbody id="fileTable1"></tbody>
              </table>
            </div>
          </div>
          <hr class="m-0"/>
          <div class="card-body">
            <table class="table table-bordered mb-4">
              <thead>
                <tr>
                  <th>자재번호</th>
                  <th>카테고리</th>
                  <th>규격</th>
                  <th>단위</th>
                  <th>색상</th>
                  <th>창고위치</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="materCode">[[${material.materCode}]]</td>
                  <td>[[${material.materSDTO.Sname}]]</td>
                  <td>[[${material.standard}]]</td>
                  <td>[[${material.unit}]]</td>
                  <td>[[${material.color}]]</td>
                  <td>[[${material.boxDTO.boxname}]]</td>
                </tr>
              </tbody>
            </table>
              <!--뒤로가기,등록 버튼 세트-->
              <div class="d-flex justify-content-between w-100">
                <a th:href="@{/material/list_material}">
                  <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
                </a>
                <a th:href="@{/material/modify_material(materCode=${material.materCode})}">
                  <button class="btn btn-primary">수정</button>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!--Script-->
    <script src="../assets/js/new-material-product.js"></script>
    <script src="../assets/js/file.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const materCode=document.getElementById('materCode').innerText;
        materialFileList(materCode);
      });
    </script>
    <!--Script-->
  </span>
</th:block>
</html>