<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>자재 수정</title>
      <!--Style-->

      <!--/Style-->
  </span>

  <span id="content">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">자재 관리 /</span> 자재 수정</h4>
      <!-- Hoverable Table rows -->
      <div class="card">
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <h5>자재 정보</h5>
            <label class="form-label">자재번호</label>
            <input type="text" class="form-control" id="materCode" th:value="${material.materCode}" readonly>
            <label class="form-label">자재명</label>
            <input type="text" class="form-control" id="materialName" th:value="${material.name}">
            <label class="form-label">첨부 파일</label>
            <div class="input-group mb-2">
              <input
                      type="file"
                      class="form-control"
                      aria-label="Upload"
                      id="uploadFiles1"
                      multiple
              />
              <button class="btn btn-outline-primary" type="button" id="uploadBtn1">업로드</button>
              <button id="uploadBtn2" style="display:none;"></button>
            </div>
            <div class="card shadow-none mb-3" style="min-height: 100px; border: 2px solid #e0e0e0;" id="fileList1">
              <table style="margin-left: 20px; margin-top: 5px;">
                <tbody id="fileTable0"></tbody>
                <tbody id="fileTable1"></tbody>
              </table>
            </div>
          </div>
          <hr class="m-0"/>
          <div class="card-body">
            <!-- Form controls -->
            <input type="number" style="display:none;" th:value="${material.materSDTO.materScode}" id="selectedMaterS">
            <div class="row mb-3">
              <h5>세부 항목</h5>
              <label class="col-form-label" style="width: 85px;">대분류 : </label>
              <div class="col-md-3">
                <div class="row">
                  <select class="form-select col-form-label" style="width: fit-content;"
                          aria-label="Default select example" id="selectMaterL" onchange="updateMaterCode('L')">
                  </select>
                </div>
              </div>
              <label class="col-form-label" style="width: 85px;">중분류 : </label>
              <div class="col-md-3">
                <div class="row">
                  <select class="form-select col-form-label" style="width: fit-content;"
                          aria-label="Default select example" id="selectMaterM" onchange="updateMaterCode('M')">
                  </select>
                </div>
              </div>
              <label class="col-form-label" style="width: 85px;">소분류 : </label>
              <div class="col-md-3">
                <div class="row">
                  <select class="form-select col-form-label" style="width: fit-content;" name="materS"
                          id="selectMaterS" onchange="updateMaterCode('S')">
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <label class="col-form-label" style="width: 60px;">규격 : </label>
              <input
                      type="text"
                      id="standard"
                      class="form-control col-md-10"
                      style="width: 30%;"
                      th:value="${material.standard}"
              />
            </div>
            <div class="row mb-3">
              <label class="col-form-label" style="width: 60px;">단위 : </label>
              <div class="col-md-10">
                <div class="row mb-3">
                  <select id="selUnit" class="col-form-label form-select" style="width: fit-content;"
                          aria-label="Default select example">
                    <option value="">직접입력</option>
                    <option value="mm" th:selected="${material.unit}=='mm'">mm</option>
                    <option value="m" th:selected="${material.unit}=='m'">m</option>
                    <option value="㎡" th:selected="${material.unit}=='㎡'">㎡</option>
                    <option value="kg" th:selected="${material.unit}=='kg'">kg</option>
                  </select>&nbsp;
                  <input type="text" class="col-md-10 form-control" style="width: 30%;" id="inputUnit"
                         th:value="${material.unit}">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-form-label" style="width: 60px;">색상 : </label>
              <div class="col-md-10">
                <div class="row mb-3">
                  <select id="selColor" class="col-form-label form-select" style="width: fit-content;"
                          aria-label="Default select example">
                    <option value="">직접입력</option>
                    <option value="빨강" th:selected="${material.color}=='빨강'">빨강</option>
                    <option value="검정" th:selected="${material.color}=='검정'">검정</option>
                    <option value="초록" th:selected="${material.color}=='초록'">초록</option>
                    <option value="노랑" th:selected="${material.color}=='노랑'">노랑</option>
                    <option value="파랑" th:selected="${material.color}=='파랑'">파랑</option>
                    <option value="하양" th:selected="${material.color}=='하양'">하양</option>
                    <option value="회색" th:selected="${material.color}=='회색'">회색</option>
                  </select>&nbsp;
                  <input type="text" class="col-md-10 form-control" style="width: 30%;"  id="inputColor"
                         th:value="${material.color}">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-form-label" style="width: 90px;">창고위치 : </label>
              <div class="col-md-3">
                <select class="form-select col-md-3" id="box">
                  <option th:each="box:${boxList}" th:value="${box.boxcode}"
                          th:selected="${box.boxcode}==${material.boxDTO.boxcode}">
                    [[${box.boxname}]]
                  </option>
                </select>
              </div>
            </div>
            <div class="d-flex justify-content-between w-100">
              <button type="button" class="btn btn-outline-secondary"
                      th:onclick="|location.href='@{/material/list_material}'|">뒤로가기</button>
              <button type="button" class="btn btn-primary" onclick="saveMaterial(1)">수정</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / Content -->
    <!--Script-->
    <script src="../assets/js/select-input.js"></script>
    <script src="../assets/js/new-material-product.js"></script>
    <script src="../assets/js/file.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const materCode=document.getElementById('materCode').value;
        initMaterialFile(materCode);

        showMaterSCode=document.getElementById('selectedMaterS').value;
        initMater1();
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>