<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/devlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>제품 리스트</title>

    <!--Style-->
    <style>
      #content1 {
        height: 700px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">개발부서 /</span> 신규 제품</h4>

      <!-- Hoverable Table rows -->
      <div class="card">

        <!--검색-->
        <div class="card-body">
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/ 검색-->

        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <div id="content1">
              <table class="table table-bordered mb-4">
                <thead>
                  <tr>
                    <th>등록일자</th>
                    <th>제품번호</th>
                    <th>제품명</th>
                    <th>색상</th>
                    <th>수정/삭제</th>
                    <td>
                      <select class="form-select form-select-sm" style="width: fit-content;" id="productImsiCheck">
                        <option value="">전체 자재등록상태</option>
                        <option value="0">자재등록 미완료</option>
                        <option value="1">자재등록 완료</option>
                      </select>
                    </td>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="firstTbody"></tbody>
              </table>
            </div>
            <div class="mt-3 text-end mb-4">
              <a th:href="@{/development/input_dev}">
                <button type="button" class="btn btn-primary">등록</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div
            class="modal fade"
            id="modalToggle"
            aria-labelledby="modalToggleLabel"
            tabindex="-1"
            style="display: none"
            aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">삭제하시겠습니까?</h5>
          </div>
          <div class="modal-body" id="deleteText"></div>
          <div class="modal-footer">
            <button
                    class="btn btn-primary"
                    data-bs-target="#modalToggle2"
                    data-bs-dismiss="modal"
                    id="deleteBtn"
                    onclick="deleteProduct(this)"
            >
              삭제
            </button>
            <button
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
            >
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->
    <!--Script-->
    <script>
      let page = 1;
      let finPage=false;

      let selectProL = null;
      let selectProM = null;
      let selectProS = null;
      let productSearch = null;
      let productImsiCheck = null;

      function productSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectProL = (document.getElementById("selectProL").value!=null)?document.getElementById("selectProL").value:null;
        selectProM = (document.getElementById("selectProM").value!=null)?document.getElementById("selectProM").value:null;
        selectProS = (document.getElementById("selectProS").value!=null)?document.getElementById("selectProS").value:null;
        productSearch = (document.getElementById("productSearch").value!=null)?document.getElementById("productSearch").value:null;
        loadItems();
      }

      document.getElementById('productImsiCheck').addEventListener("change", function(){
        productImsiCheck=document.getElementById('productImsiCheck').value;
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        loadItems();
      });

      function loadItems() {
        const content1 = document.getElementById("content1");
        const firstTbody = document.getElementById("firstTbody");

        productImsiCheck = (document.getElementById("productImsiCheck").value!='')?document.getElementById("productImsiCheck").value:null;

        $.ajax({
          url:'/list/productDevList',
          method:'GET',
          data:{page:page, selectProL:selectProL, selectProM:selectProM, selectProS:selectProS, productSearch:productSearch, productImsiCheck:productImsiCheck},
          success:function(data){
            if(data.totalPage<page) finPage=true;

            data.dtoList.forEach(x=>{
              const regDate=x.regDate.split('T')[0];
              const manuCode=x.manuCode;
              const name=x.name;
              const color=x.color;
              const unit=x.unit;
              const mater_imsi=x.mater_imsi;
              const mater_check=x.mater_check;

              const newRow = document.createElement("tr");

              [regDate, manuCode].forEach(text => {
                const item = document.createElement("td");
                item.textContent = text;
                newRow.appendChild(item);
              });

              const nameTd = document.createElement("td");
              nameTd.id='productName'+manuCode;
              nameTd.innerHTML = `<strong><a href="/development/detail_dev?manuCode=${manuCode}"> ${name}</a></strong>`;
              newRow.appendChild(nameTd);

              const colorTd = document.createElement("td");
              colorTd.textContent = color;
              newRow.appendChild(colorTd);

              const btnTd = document.createElement("td");
              if(mater_check==0){
                btnTd.innerHTML=`
                  <a href="/development/modify_dev?manuCode=${manuCode}">
                    <button class="btn btn-primary">수정</button>
                  </a>
                  <button class="btn btn-secondary" data-bs-toggle="modal" href="#modalToggle" value="${manuCode}" onclick="deleteBtn(this)">삭제</button>
                `;
              }
              if(mater_check==1){
                btnTd.innerHTML=`
                  <button class="btn btn-outline-primary">수정</button>
                  <button class="btn btn-outline-secondary">삭제</button>
                `;
              }
              newRow.appendChild(btnTd);

              const checkTd = document.createElement("td");
              if(mater_imsi==0){
                checkTd.innerHTML=`
                  <span style="color: red;">임시 저장</span>
                `;
              }
              if(mater_imsi==1){
                checkTd.innerHTML=`
                  등록 완료
                `;
              }
              newRow.appendChild(checkTd);

              firstTbody.appendChild(newRow);
            });
          }
        });

        page++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems();
            }
          }
        });

        loadItems();
      });
    </script>

    <script>
      function deleteBtn(button){
        var manuCode=button.value;
        var productName=document.getElementById('productName'+manuCode).innerText;
        document.getElementById('deleteText').innerHTML=manuCode+" "+productName+"를 삭제합니다.<br/>삭제시 복구가 불가능합니다.";
        document.getElementById('deleteBtn').value=manuCode;
      }
      function deleteProduct(button){
        var manuCode=button.value;
        $.ajax({
          url:'/deleteProduct',
          method:'GET',
          data:{manuCode:manuCode},
          success:function(response){
            window.location.reload();
          }
        });
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>