<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>입고 목록</title>
    <!--Style-->
    <style>
      #content1 {
        height: 650px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">입고/출하 관리 /</span> 입고/반품</h4>
      <div class="card">
        <!--검색-->
        <div class="card-body">
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">협력회사</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartL" onchange="updatePartCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartM" onchange="updatePartCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartS" onchange="updatePartCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="partnerSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="partnerSearchBtn()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn()">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">자재</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterL" onchange="updateMaterCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterM" onchange="updateMaterCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterS" onchange="updateMaterCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="materialSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="materialSearchBtn()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <div id="content1" class="mb-4">
              <table class="table table-bordered mb-4">
                <thead>
                  <tr>
                    <th rowspan="2">수령일자</th>
                    <th rowspan="2">자재번호</th>
                    <th rowspan="2">자재명</th>
                    <th colspan="4" class="text-center">수량</th>
                    <th rowspan="2">
                      <select class="form-select form-select-sm" style="width: fit-content;" id="baljuFin">
                        <option value="">전체 입고상태</option>
                        <option value="0">미완료</option>
                        <option value="1">완료</option>
                      </select>
                    </th>
                    <th rowspan="2">업체명</th>
                    <th rowspan="2">
                      <select class="form-select form-select-sm" style="width: fit-content;" id="receiveReturn">
                        <option value="">전체 상태</option>
                        <option value="0">수령 준비</option>
                        <option value="1">검수 중</option>
                        <option value="2">입고 상태</option>
                        <option value="3">반품 상태</option>
                      </select>
                    </th>
                    <th rowspan="2">추가 요청</th>
                  </tr>
                  <tr>
                    <th>요청</th>
                    <th>총입고</th>
                    <th>필요</th>
                    <th>검수량</th>
                  </tr>
                </thead>
                <tbody id="firstTbody"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCenterTitle">입고처리</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col mb-3 text-center" id="receiveConfirmText"></div>
            </div>
          </div>
          <div class="modal-footer">
            <input style="display:none;" id="receiveConfirmNo">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              취소
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveCheckShipment(1)">입고확정</button>
          </div>
        </div>
      </div>
    </div>
    <!--Modal-->
    <!--Modal2-->
    <div class="modal fade" id="modalCenter2" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">수령확인</h5>
          </div>
          <div class="modal-body">
            <div class="col mb-3 text-center" id="receiveText"></div>
          </div>
          <div class="modal-footer">
            <input style="display:none;" id="receiveNo">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              취소
            </button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveReceiveShipment(1)">수령확인</button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal2-->
    <!--Modal3-->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>원하는 작업을 선택하세요:</p>
        <button onclick="callContact()" class="btn btn-secondary">담당자 전화 걸기</button>
        <button onclick="emailContact()" class="btn btn-secondary">담당자 이메일 보내기</button>
      </div>
    </div>
    <!--/Modal3-->
    <!--/Modal-->

    <!--Script-->
    <script src="../assets/js/new-return-request.js"></script>
    <script>
      let page = 1;
      let finPage=false;
      let selectPartL = null;
      let selectPartM = null;
      let selectPartS = null;
      let partnerSearch = null;
      let selectProL = null;
      let selectProM = null;
      let selectProS = null;
      let productSearch = null;
      let selectMaterL = null;
      let selectMaterM = null;
      let selectMaterS = null;
      let materialSearch = null;
      let baljuFin = null;
      let receiveReturn = null;

      function partnerSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectPartL = (document.getElementById("selectPartL").value!=null)?document.getElementById("selectPartL").value:null;
        selectPartM = (document.getElementById("selectPartM").value!=null)?document.getElementById("selectPartM").value:null;
        selectPartS = (document.getElementById("selectPartS").value!=null)?document.getElementById("selectPartS").value:null;
        partnerSearch = (document.getElementById("partnerSearch").value!=null)?document.getElementById("partnerSearch").value:null;
        loadItems();
      }
      function productSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectProL = (document.getElementById("selectProL").value!=null)?document.getElementById("selectProL").value:null;
        selectProM = (document.getElementById("selectProM").value!=null)?document.getElementById("selectProM").value:null;
        selectProS = (document.getElementById("selectProS").value!=null)?document.getElementById("selectProS").value:null;
        productSearch = (document.getElementById("productSearch").value!=null)?document.getElementById("productSearch").value:null;
        loadItems();
      }
      function materialSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectMaterL = (document.getElementById("selectMaterL").value!=null)?document.getElementById("selectMaterL").value:null;
        selectMaterM = (document.getElementById("selectMaterM").value!=null)?document.getElementById("selectMaterM").value:null;
        selectMaterS = (document.getElementById("selectMaterS").value!=null)?document.getElementById("selectMaterS").value:null;
        materialSearch = (document.getElementById("materialSearch").value!=null)?document.getElementById("materialSearch").value:null;
        loadItems();
      }

      document.getElementById('baljuFin').addEventListener("change", function(){
        baljuFin=document.getElementById('baljuFin').value;
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        loadItems();
      });

      document.getElementById('receiveReturn').addEventListener("change", function(){
        receiveReturn=document.getElementById('receiveReturn').value;
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        loadItems();
      });

      function loadItems() {
        const content1 = document.getElementById("content1");
        const firstTbody = document.getElementById("firstTbody");

        baljuFin=(document.getElementById("baljuFin").value!='')?document.getElementById("baljuFin").value:null;
        receiveReturn=(document.getElementById("receiveReturn").value!='')?document.getElementById("receiveReturn").value:null;

        $.ajax({
          url:'/list/shipmentList',
          method:'GET',
          data:{page:page, selectPartL:selectPartL, selectPartM:selectPartM, selectPartS:selectPartS, partnerSearch:partnerSearch,
                selectProL:selectProL, selectProM:selectProM, selectProS:selectProS, productSearch:productSearch,
                selectMaterL:selectMaterL, selectMaterM:selectMaterM, selectMaterS:selectMaterS, materialSearch:materialSearch,
                baljuFin:baljuFin, receiveReturn:receiveReturn},
          success:function(data){
            if(data.totalPage<page) finPage=true;

            data.dtoList.forEach(x=>{
              const shipNum=x.shipmentDTO.shipNum;
              const shipNO=x.shipmentDTO.shipNO;
              const receiveCheck=x.shipmentDTO.receiveCheck;
              const reNo=x.reNo;
              const partnerName=x.shipmentDTO.baljuDTO.contractDTO.partnerDTO.name;
              const receipt=x.shipmentDTO.receipt;
              const materCode=x.shipmentDTO.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.materCode;
              const materialName=x.shipmentDTO.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name;
              const baljuNum=x.shipmentDTO.baljuDTO.baljuNum;
              const totalShipment=x.totalShipment;

              const newRow = document.createElement("tr");

              const receiptTd = document.createElement("td");
              if(receipt==null) { receiptTd.textContent = '배송중'; }
              if(receipt!=null) { receiptTd.textContent = receipt.split('T')[0]; }
              newRow.appendChild(receiptTd);

              const materCodeTd = document.createElement("td");
              materCodeTd.innerHTML=`
                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i>
                <strong>${materCode}</strong>
              `;
              newRow.appendChild(materCodeTd);

              const materialNameTd = document.createElement("td");
              materialNameTd.innerHTML=`
                <a href="/goodshandling/view_received?shipNO=${shipNO}">${materialName}</a>
              `;
              newRow.appendChild(materialNameTd);

              [baljuNum, totalShipment, baljuNum-totalShipment].forEach(text => {
                const item = document.createElement("td");
                item.textContent = text;
                newRow.appendChild(item);
              });

              const recieveBtnTd = document.createElement("td");
              if(receipt!=null) {
                if(receiveCheck==1) { recieveBtnTd.innerHTML=`<span style="color: green;">${shipNum} (입고)</span>`; }
                if(reNo!=0) { recieveBtnTd.innerHTML=`<span style="color: red;">${shipNum} (반품)</span>`; }
                if(receiveCheck==0 && reNo==0) { recieveBtnTd.textContent = shipNum+' (입고대기)'; }
              }
              newRow.appendChild(recieveBtnTd);

              const totalRecieveTd = document.createElement("td");
              if(baljuNum-totalShipment==0) { totalRecieveTd.innerHTML=`<span style="color: green;">완료</span>`; }
              if(baljuNum-totalShipment!=0) { totalRecieveTd.innerHTML=`<span style="color: red;">미완료</span>`; }
              newRow.appendChild(totalRecieveTd);

              const partnerNameTd = document.createElement("td");
              partnerNameTd.textContent = partnerName;
              newRow.appendChild(partnerNameTd);

              const receiveReturnTd = document.createElement("td");
              if(receipt==null) { receiveReturnTd.innerHTML=`
                <button type="button" class="btn btn-outline-primary" style="width: 150px;" data-bs-toggle="modal" data-bs-target="#modalCenter2" shipNum="${shipNum}" shipNo="${shipNO}" onclick="receivebutton(this)">
                  수령
                </button>
              `; }
              if(receipt!=null && reNo==0 && receiveCheck==0) { receiveReturnTd.innerHTML=`
                <a href="/goodshandling/return_received?shipNo=${shipNO}">
                  <button class="btn btn-primary">반품</button>
                </a>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalCenter" shipNum="${shipNum}" shipNo="${shipNO}" onclick="receiveConfirm(this)">
                  입고
                </button>
              `;
              }
              if(receiveCheck==1) receiveReturnTd.innerHTML=`<button class="btn btn-secondary" style="width: 150px;">입고완료</button>`;
              if(reNo!=0) receiveReturnTd.innerHTML=`<button class="btn btn-secondary" style="width: 150px;">반품완료</button>`;
              newRow.appendChild(receiveReturnTd);

              const btn2Td = document.createElement("td");
              btn2Td.innerHTML=`<button onclick="showOptions()" class="btn btn-outline-primary">요청</button>`;
              newRow.appendChild(btn2Td);

              firstTbody.appendChild(newRow);
            });
          }
        });

        page++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems();
            }
          }
        });

        loadItems();
      });
    </script>
    <script>
      function showConfirmation() {
        alert("입고 완료");
      }
      function showOptions() {
        document.getElementById("myModal").style.display = "block";
      }
      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }
      function callContact() {
        window.location.href = 'tel:123-456-7890'; // 전화 번호를 실제 담당자 번호로 변경하세요
      }
      function emailContact() {
        window.location.href = 'mailto:contact@example.com'; // 이메일 주소를 실제 담당자 이메일로 변경하세요
      }
      window.onclick = function(event) {
        var modal = document.getElementById("myModal");
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>