<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>출하 요청 목록</title>
    <!--Style-->
    <style>
      #content1 {
        height: 700px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">입고/출하 관리 /</span> 출하 요청 목록</h4>
      <div class="card">
        <!--검색-->
        <div class="card-body">
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn()">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <div id="content1">
              <table class="table table-bordered mb-4">
                <thead>
                  <tr>
                    <th>등록일자</th>
                    <th>제품번호</th>
                    <th>제품명</th>
                    <th>라인</th>
                    <th>진행사항</th>
                    <th>출하하기</th>
                  </tr>
                </thead>
                <tbody id="firstTbody"></tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/ Card -->
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->

    <!--Script-->
    <script>
      let page = 1;
      let finPage=false;
      let selectProL = null;
      let selectProM = null;
      let selectProS = null;
      let productSearch = null;
      let releaseStatus = 0;

      function productSearchBtn(){
        page = 1;
        finPage=false;
        document.getElementById("firstTbody").innerText='';
        selectProL = (document.getElementById("selectProL").value!=null)?document.getElementById("selectProL").value:null;
        selectProM = (document.getElementById("selectProM").value!=null)?document.getElementById("selectProM").value:null;
        selectProS = (document.getElementById("selectProS").value!=null)?document.getElementById("selectProS").value:null;
        productSearch = (document.getElementById("productSearch").value!=null)?document.getElementById("productSearch").value:null;
        loadItems();
      }

      function loadItems() {
        const content1 = document.getElementById("content1");
        const firstTbody = document.getElementById("firstTbody");

        $.ajax({
          url:'/list/getRequestList',
          method:'GET',
          data:{page:page, selectProL:selectProL, selectProM:selectProM, selectProS:selectProS, productSearch:productSearch,
                releaseStatus:releaseStatus},
          success:function(data){
            if(data.totalPage<page) finPage=true;

            data.dtoList.forEach(x=>{
              const preReqCode=x.preRequestDTO.preReqCode;
              const regDate=x.preRequestDTO.regDate.split('T')[0];
              const allCheck=x.preRequestDTO.allCheck;
              const line=x.preRequestDTO.lineDTO.lineName;
              const proplanDTO=x.preRequestDTO.proplanDTO;

              const allCount=x.allCount;
              const finCount=x.finCount;

              const productName=proplanDTO.productDTO.name;
              const productCode=proplanDTO.productDTO.manuCode;
              const startDate=proplanDTO.startDate.split('T')[0];
              const endDate=proplanDTO.endDate.split('T')[0];
              const dateRange=startDate+"-"+endDate;

              const newRow = document.createElement("tr");

              const dateTd = document.createElement("td");
              dateTd.id = 'regDate'+preReqCode;
              dateTd.innerHTML=regDate;
              newRow.appendChild(dateTd);

              const materCodeTd = document.createElement("td");
              materCodeTd.innerHTML=productCode;
              newRow.appendChild(materCodeTd);

              const nameTd = document.createElement("td");
              nameTd.id = 'productName'+preReqCode;
              nameTd.innerHTML= productName;
              newRow.appendChild(nameTd);

              const lineTd = document.createElement("td");
              lineTd.id = 'line'+preReqCode;
              lineTd.innerHTML=line;
              newRow.appendChild(lineTd);

              const statusTd = document.createElement("td");
              statusTd.innerHTML=finCount+'/'+allCount;
              newRow.appendChild(statusTd);

              const btn1Td = document.createElement("td");
              btn1Td.innerHTML=`
                <a href="/goodshandling/view_request?preReqCode=${preReqCode}">
                  <button class="btn btn-primary">출하하기</button>
                </a>`;
              newRow.appendChild(btn1Td);

              firstTbody.appendChild(newRow);
            });
          }
        });
        page++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadItems();
            }
          }
        });

        loadItems();
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>