<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>재고 수량</title>

    <!--Style-->
    <style>
      #content1 {
        height: 700px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">재고 목록 /</span> 재고 수량</h4>
        <!-- Hoverable Table rows -->
      <div class="card">
        <!--검색-->
        <div class="card-body">
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="productSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="productSearchBtn('stock')">검색</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">자재</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterL" onchange="updateMaterCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterM" onchange="updateMaterCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterS" onchange="updateMaterCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="materialSearch" style="height: 32px; font-size: 12px;" value="">
                  </td>
                  <td>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;" onclick="materialSearchBtn('stock')">검색</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <div class="text-end mb-1">
              <button
                      type="button"
                      class="btn btn-outline-primary btn-sm"
                      id="download-btn1"
              >
                다운로드
              </button>
            </div>
            <div id="content1">
              <table class="table table-bordered mb-4" id="data-table">
                <thead>
                  <tr>
                    <th>자재번호</th>
                    <th>자재명</th>
                    <th>카테고리</th>
                    <th>
                      <select class="form-select form-select-sm" style="width: fit-content;" id="stockStatus">
                        <option value="">전체 재고현황</option>
                        <option value="1">보유</option>
                        <option value="0">미보유</option>
                      </select>
                    </th>
                    <th>
                      <select class="form-select form-select-sm" style="width: fit-content;" id="orderStatus">
                        <option value="">전체 발주상태</option>
                        <option value="1">발주존재</option>
                        <option value="0">발주없음</option>
                      </select>
                    </th>
                    <th>
                      <select class="form-select form-select-sm" style="width: fit-content;" id="selectedBox">
                        <option value="">전체 창고</option>
                        <option th:each="box:${box_list}" th:value="${box.boxcode}">[[${box.boxname}]]</option>
                      </select>
                    </th>
                  </tr>
                </thead>
                <tbody id="firstTbody"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <!--/Modal-->
    <!--Script-->
    <script src="../assets/js/list-jago.js"></script>
    <script src="../assets/js/excel-download.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadList('stock');
            }
          }
        });
        loadList('stock');
      });
    </script>
<!--    <script>-->
<!--    document.getElementById('export-btn').addEventListener('click', function () {-->
<!--        const table = document.getElementById('data-table');-->
<!--        const rows = Array.from(table.querySelectorAll('tr'));-->
<!--        const csvContent = rows.map(row => {-->
<!--            const cells = Array.from(row.querySelectorAll('th, td'));-->
<!--            return cells.map(cell => `"${cell.innerText.replace(/"/g, '""')}"`).join(',');-->
<!--        }).join('\n');-->

<!--        // BOM 추가 (UTF-8 인코딩을 위한)-->
<!--        const bom = '\ufeff';-->
<!--        const date = new Date().toISOString().slice(0, 19).replace(/[:T]/g, '_');-->
<!--        const filename = `${date}_stock_export.csv`;-->

<!--        const blob = new Blob([bom + csvContent], { type: 'text/csv;charset=utf-8;' });-->
<!--        const link = document.createElement('a');-->
<!--            if (link.download !== undefined) {-->
<!--                const url = URL.createObjectURL(blob);-->
<!--                link.setAttribute('href', url);-->
<!--                link.setAttribute('download', filename);-->
<!--                link.style.visibility = 'hidden';-->
<!--                document.body.appendChild(link);-->
<!--                link.click();-->
<!--                document.body.removeChild(link);-->
<!--            }-->
<!--        });-->
<!--    </script>-->
    <!--/Script-->

  </span>
</th:block>

</html>