<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>재고 상세보기</title>

    <!--Style-->
    <style>
      #content1 {
        height: 700px;
        overflow-y: auto; /* 내부 스크롤 활성화 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">재고 목록 /</span>월별 현황</h4>
      <!-- Hoverable Table rows -->
      <div class="card">
        <input type="number" style="display:none;" id="materCode" th:value="${materCode}">
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <div class="text-end mb-1">
              <button
                      type="button"
                      class="btn btn-outline-primary btn-sm"
                      id="download-btn3"
              >
                다운로드
              </button>
            </div>
            <div id="content1">
              <table id= "data-table" class="table table-bordered mb-4">
                <thead>
                  <tr>
                    <th>
                      <select class="form-select form-select-sm" style="width: fit-content;" id="selectedYear">
                        <option value="">전체 년도</option>
                        <option th:each="year:${yearList}" th:value="${year}">[[${year}]]년</option>
                      </select>
                    </th>
                    <th>자재번호</th>
                    <th>자재명</th>
                    <th>규격</th>
                    <th>단위</th>
                    <th>당 계약 가격</th>
                    <th>전 계약 가격</th>
                    <th>전 계약 대비</th>
                    <th>재고 수량</th>
                    <th>재고 금액</th>
                  </tr>
                </thead>
                <tbody id="firstTbody"></tbody>
              </table>
              <div class="mt-2">
                <a href="/jago/list_stock">
                  <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!--/Modal-->
    <!--Script-->
    <script src="../assets/js/detail-jago.js"></script>
    <script src="../assets/js/excel-download.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script>
      $(document).ready(function(){
        content1.addEventListener("scroll", function () {
          if(finPage==false){
            const scrollTop = content1.scrollTop;
            const scrollHeight = content1.scrollHeight;
            const clientHeight = content1.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight - 10) {
              loadTable();
            }
          }
        });
        loadTable();
      });
    </script>
    <!--Script-->
  </span>

</th:block>
</html>